<app-loading-spinner *ngIf="isLoading" />

<div *ngIf="!isLoading">
    <p class="font-semibold text[#424242] mb-8 mx-5 dark:text-[#FFFFFF] dark:bg-black">Manage Officers</p>

    <div class="w-full px-10 py-7 bg-tileLight dark:bg-[#363636] shadow-lg rounded-lg overflow-x-auto">
        <div class="flex flex-row items-center justify-between">
            <div class="flex flex-row gap-4">
                <button class="bg-[#415CFF] text-white dark:text-white rounded-lg shadow-lg px-4 py-2"
                    (click)="navigate('/manage-officers/create-officer')">
                    Add Officer
                </button>

                <span *ngIf="logingRole === 'Collection Center Manager'">
                    <button class="bg-[#415CFF] text-white rounded-lg shadow-lg px-4 py-2"
                        (click)="navigate('/manage-officers/claim-officer')">
                        Claim Officer
                    </button>
                </span>
            </div>
            <div class="flex flex-row items-center gap-5 ">
                <i class="fa-solid fa-list text-2xl dark:text-white ml-8"></i>

                <p class="font-normal dark:text-white">Filter By</p>

                <!-- <div class="relative w-46">
                    <div
                        class="border-2 rounded-xl dark:bg-[#292929] text-textLight dark:text-textDark flex flex-row justify-between items-center">
                        <select (change)="applyRoleFilters()" [(ngModel)]="selectRole"
                            class="block w-full appearance-none  dark:bg-[#292929] text-textLight dark:text-textDark px-3 py-2 rounded-xl focus:outline-none">
                            <option value="" selected disabled>Role</option>
                            <option class=" dark:bg-[#292929] text-textLight dark:text-textDark hover:bg-gray-300"
                                value="Collection Officer">Collection Officer</option>
                            <option class=" dark:bg-[#292929] text-textLight dark:text-textDark hover:bg-gray-300"
                                value="Customer Officer">Customer Officer</option>

                        </select>
                        <button *ngIf="selectRole" (click)="clearRoleFilter()">
                            <i class="fa-solid fa-xmark text-lg mr-3"></i>
                        </button>

                    </div>
                </div> -->

                <div class="relative w-52">
                    <div
                        class="border-2 rounded-xl dark:bg-[#292929] text-textLight dark:text-textDark flex flex-row justify-between items-center">
                        <select [(ngModel)]="selectRole" (change)="applyRoleFilters()"
                            class="block w-full appearance-none dark:bg-[#292929] text-textLight dark:text-textDark px-3 py-2 pr-8 rounded-xl focus:outline-none cursor-pointer">
                            <option value="" selected disabled>Role</option>
                            <option class=" dark:bg-[#292929] text-textLight dark:text-textDark hover:bg-gray-300"
                                value="Collection Center Manager">Collection Center Manager</option>
                            <option class=" dark:bg-[#292929] text-textLight dark:text-textDark hover:bg-gray-300"
                                value="Collection Officer">Collection Officer</option>
                            <option class=" dark:bg-[#292929] text-textLight dark:text-textDark hover:bg-gray-300"
                                value="Customer Officer">Customer Officer</option>
                        </select>

                        <!-- Down arrow icon -->
                        <div *ngIf="!selectRole"
                            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 dark:text-gray-300">
                            <i class="fa-solid fa-angle-down text-lg mr-3"></i>
                        </div>

                        <!-- Cancel icon -->
                        <div (click)="clearRoleFilter()" *ngIf="selectRole"
                            class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 dark:text-gray-300 cursor-pointer z-10">
                            <i class="fa-solid fa-xmark text-lg mr-3"></i>
                        </div>
                    </div>
                </div>




                <!-- <div class="relative w-36">
                    <div
                        class="border-2 rounded-xl dark:bg-[#292929] text-textLight dark:text-textDark flex flex-row justify-between items-center">
                        <select (change)="applyStatusFilters()" [(ngModel)]="selectStatus"
                            class="block w-full appearance-none dark:bg-[#292929] text-textLight dark:text-textDark px-3 py-2 rounded-xl focus:outline-none">
                            <option value="" selected disabled>Status</option>
                            <option value="Approved"
                                class=" dark:bg-[#292929] text-textLight dark:text-textDark hover:bg-gray-300">
                                Approved</option>
                            <option value="Not Approved"
                                class=" dark:bg-[#292929] text-textLight dark:text-textDark hover:bg-gray-300">
                                Not Approved</option>
                            <option value="Rejected"
                                class=" dark:bg-[#292929] text-textLight dark:text-textDark hover:bg-gray-300">
                                Rejected</option>

                        </select>
                        <button *ngIf="selectStatus" (click)="clearStatusFilter()">
                            <i class="fa-solid fa-xmark text-lg mr-3"></i>
                        </button>

                    </div>
                </div> -->

                <div class="relative w-52">
                    <div
                        class="border-2 rounded-xl dark:bg-[#292929] text-textLight dark:text-textDark flex flex-row justify-between items-center">
                        <select [(ngModel)]="selectStatus" (change)="applyStatusFilters()"
                            class="block w-full appearance-none dark:bg-[#292929] text-textLight dark:text-textDark px-3 py-2 pr-8 rounded-xl focus:outline-none cursor-pointer">
                            <option value="" selected disabled>Status</option>
                            <option value="Approved"
                                class=" dark:bg-[#292929] text-textLight dark:text-textDark hover:bg-gray-300">
                                Approved</option>
                            <option value="Not Approved"
                                class=" dark:bg-[#292929] text-textLight dark:text-textDark hover:bg-gray-300">
                                Not Approved</option>
                            <option value="Rejected"
                                class=" dark:bg-[#292929] text-textLight dark:text-textDark hover:bg-gray-300">
                                Rejected</option>
                        </select>

                        <!-- Down arrow icon -->
                        <div *ngIf="!selectStatus"
                            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 dark:text-gray-300">
                            <i class="fa-solid fa-angle-down text-lg mr-3"></i>
                        </div>

                        <!-- Cancel icon -->
                        <div (click)="clearStatusFilter()" *ngIf="selectStatus"
                            class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 dark:text-gray-300 cursor-pointer z-10">
                            <i class="fa-solid fa-xmark text-lg mr-3"></i>
                        </div>
                    </div>
                </div>

                <!-- <div class="relative w-46" *ngIf="logingRole ==='Collection Center Head'">
                    <div
                        class="border-2 rounded-xl dark:bg-[#292929] text-textLight dark:text-textDark flex flex-row justify-between items-center">
                        <select (change)="applyCompanyFilters()" [(ngModel)]="selectCenters"
                            class="block w-full appearance-none  dark:bg-[#292929] text-textLight dark:text-textDark px-3 py-2 rounded-xl focus:outline-none">
                            <option value="" selected disabled>Centers</option>
                            <option *ngFor="let item of centerArr"
                                class=" dark:bg-[#292929] text-textLight dark:text-textDark hover:bg-gray-300"
                                [value]="item.id">{{item.centerName}}</option>
                        </select>
                        <button *ngIf="selectCenters" (click)="clearCompanyFilter()">
                            <i class="fa-solid fa-xmark text-lg mr-3"></i>
                        </button>

                    </div>
                </div> -->

                <div class="relative w-46" *ngIf="logingRole ==='Collection Center Head'">
                    <div
                        class="border-2 rounded-xl dark:bg-[#292929] text-textLight dark:text-textDark flex flex-row justify-between items-center">
                        <select [(ngModel)]="selectCenters" (change)="applyCompanyFilters()"
                            class="block w-full appearance-none dark:bg-[#292929] text-textLight dark:text-textDark px-3 py-2 pr-8 rounded-xl focus:outline-none cursor-pointer">
                            <option value="" selected disabled>Centers</option>
                            <option *ngFor="let item of centerArr"
                                class=" dark:bg-[#292929] text-textLight dark:text-textDark hover:bg-gray-300"
                                [value]="item.id">{{item.regCode}} - {{item.centerName}}</option>
                        </select>

                        <!-- Down arrow icon -->
                        <div *ngIf="!selectCenters"
                            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 dark:text-gray-300">
                            <i class="fa-solid fa-angle-down text-lg mr-3"></i>
                        </div>

                        <!-- Cancel icon -->
                        <div (click)="clearCompanyFilter()" *ngIf="selectCenters"
                            class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 dark:text-gray-300 cursor-pointer z-10">
                            <i class="fa-solid fa-xmark text-lg mr-3"></i>
                        </div>
                    </div>
                </div>




                <!-- <p-dropdown
                styleClass="border border-2 rounded-xl h-8 items-center bg-[#F1F1F1] dark:bg-[#272F45] text-textLight dark:text-textDark"
                [options]="companyArr" [checkmark]="true" optionLabel="companyNameEnglish" [showClear]="true"
                placeholder="Role" (onChange)="applyCompanyFilters()" /> -->

                <div class="flex items-center rounded-full  px-4 py-2 w-96 bg-[#F1F1F1] dark:bg-[#292929]">
                    <input type="text" placeholder="Search by EMP ID, First / Last name,NIC" [(ngModel)]="searchText"
                        (keyup.enter)="onSearch()" (keyup.esc)="offSearch()"
                        class="bg-transparent outline-none w-full text-textLight dark:text-textDark" />
                    <button type="button" class="text-gray-500 hover:text-gray-700 focus:outline-none mr-2"
                        (click)="onSearch()">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M21 21l-6-6m2-5a7 7 0 10-14 0 7 7 0 0014 0z" />
                        </svg>
                    </button>
                    <button type="button" class="text-gray-500 hover:text-gray-700 focus:outline-none"
                        (click)="offSearch()">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>

            </div>

        </div>

        <div *ngIf="!hasData" class="flex justify-center items-center mt-8 mr-5 w-full h-[500px] dark:bg-[#292929]">
            <p class="text-3xl text-center font-semibold dark:text-white">No Data Availabale</p>
        </div>

        <div *ngIf="hasData" class="min-w-max mt-8 mr-5 border-gray-100 border-[2px] rounded-lg dark:border-[#202021]">
            <table class="w-full min-w-max divide-y-2 border-[1px] border-gray-300 rounded-lg overflow-hidden">
                <thead class=" dark:text-gray-300 dark:bg-[#0F0F0F] dark:border-[#202021]">
                    <tr>
                        <th class="px-2 py-3 text-left text-sm font-medium">No</th>
                        <th class="px-3 py-3 text-left text-sm font-medium">EMP ID</th>
                        <th class="px-3 py-3 text-left text-sm font-medium">First Name</th>
                        <th class="px-3 py-3 text-left text-sm font-medium">Last Name</th>
                        <th class="px-3 py-3 text-left text-sm font-medium"
                            *ngIf="logingRole ==='Collection Center Head'">
                            Centers</th>
                        <th class="px-3 py-3 text-left text-sm font-medium ">Role</th>
                        <th class="px-3 py-3 text-center text-sm font-medium ">Status</th>
                        <th class="px-3 py-3 text-center text-sm font-medium">Phone</th>
                        <th class="px-3 py-3 text-center text-sm font-medium">NIC</th>
                        <th class="px-3 py-3 text-center text-sm font-medium"></th>
                    </tr>
                </thead>
                <tbody class="bg-white dark:bg-[#1D1D1F] dark:border-[#1D1D1F]">
                    <tr *ngFor="let item of OfficerArr | paginate
                : {
                    itemsPerPage: itemsPerPage,
                    currentPage: page,
                    totalItems: totalItems
                  };  let i = index">
                        <td class="px-2 py-4 text-sm text-gray-900 dark:text-gray-300 ">
                            {{ (((page - 1) * itemsPerPage) + i + 1) < 10 ? '0' + (((page - 1) * itemsPerPage) + i + 1)
                                : (((page - 1) * itemsPerPage) + i + 1) }} </td>
                        <td class="px-3 py-4 text-sm text-gray-900 dark:text-gray-300">{{item.empId}}</td>
                        <td class="px-3 py-4 text-sm text-gray-900 dark:text-gray-300">{{item.firstNameEnglish}}</td>
                        <td class="px-3 py-4 text-sm text-gray-900 dark:text-gray-300">{{item.lastNameEnglish}}</td>
                        <td class="px-3 py-4 text-sm text-gray-900 dark:text-gray-300"
                            *ngIf="logingRole ==='Collection Center Head'">{{item.centerName}}</td>
                        <td class="px-3 py-4 text-sm text-gray-900 dark:text-gray-300">{{item.jobRole}}</td>
                        <td class="px-3 py-4 text-center">
                            <div class="flex justify-center items-center"
                                [style.cursor]="logingRole === 'Collection Center Head' ? 'pointer' : 'default'"
                                (click)="logingRole === 'Collection Center Head' && openPopup(item)">
                                <span *ngIf="item.status === 'Approved'"
                                    class="inline-block px-6 py-1 bg-[#C8E0FF] text-[#415CFF] text-sm font-medium rounded-md shadow-md">
                                    Approved
                                </span>
                                <span *ngIf="item.status === 'Not Approved'"
                                    class="inline-block px-3 py-1 bg-[#FFB9B7] text-[#D16D6A] text-sm font-medium rounded-md shadow-md">
                                    Not Approved
                                </span>
                                <span *ngIf="item.status === 'Rejected'"
                                    class="inline-block px-8 py-1 bg-[#F8FFA6] text-[#A8A100] text-sm font-medium rounded-md shadow-md">
                                    Rejected
                                </span>
                            </div>
                        </td>

                        <td class="px-3 py-4 text-sm text-gray-900 dark:text-gray-300 text-center">
                            {{ item.phoneNumber01 ? item.phoneCode01 + item.phoneNumber01 : 'N/A' }}
                        </td>
                        <td class="px-3 py-4 text-sm text-gray-900 dark:text-gray-300 text-center">{{item.nic}}</td>
                        <td class="px-3 py-4 text-sm text-gray-900 dark:text-gray-300 text-center">
                            <button class="text-gray-400 hover:text-gray-600 px-2" (click)="navigateToProfile(item.id)">
                                <i class="fa-regular fa-file text-lg"></i>
                            </button>
                            <button class="text-[#415CFF] hover:text-blue-500 px-2" (click)="navigateToEdit(item.id)">
                                <i class="fa-solid fa-pen-to-square text-lg"></i>
                            </button>
                            <button class="text-[#FF415C] hover:text-red-500 px-2"
                                (click)="deleteCollectionOfficer(item.id)">
                                <i class="fa-solid fa-trash text-lg"></i>
                            </button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="flex justify-end items-center my-5 mr-5 pt-3 dark:bg-[#262f45] text-right">
            <pagination-controls (pageChange)="onPageChange($event)" [responsive]="true" [previousLabel]="'Previous'"
                [nextLabel]="'Next'" [screenReaderPaginationLabel]="'Pagination'" [screenReaderPageLabel]="'page'"
                [screenReaderCurrentLabel]="'Youre on page'">
            </pagination-controls>
        </div>
    </div>
</div>