<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<div class="w-full overflow-x-auto">
  <div>
    <div
      class="pt-5 px-12 pb-5 min-w-[1550px] bg-tileLight dark:bg-[#363636] shadow-lg rounded-lg"
    >
      <div class="flex justify-between items-center mb-8">
        <div class="flex items-center">
          <h2 class="text-2xl font-normal text-textLight dark:text-textDark">
            All Orders ({{
              totalItems === 0
                ? "0"
                : totalItems < 10
                ? "0" + totalItems
                : totalItems
            }})
          </h2>
        </div>

       
      </div>
      <div class=" min-w-max mt-5 mr-5 border-gray-100 border-[2px] rounded-lg dark:border-[#202021]">
        <table *ngIf="hasData" class="w-full min-w-max divide-y-2">
          <thead class="text-gray-700 dark:text-gray-300 dark:bg-[#0F0F0F] dark:border-[#202021] cursor-default">
            <tr>
              <th
                class="px-4 py-3 font-normal text-[#4B5563] dark:text-textDark text-left"
              >
                No
              </th>
              <th
                class="px-4 py-3 font-normal text-[#4B5563] dark:text-textDark text-left"
              >
                Invoice No
              </th>
              <th
                class="px-4 py-3 font-normal text-[#4B5563] dark:text-textDark text-left"
              >
                Application
              </th>
              <th
                class="px-4 py-3 font-normal text-[#4B5563] dark:text-textDark text-left"
              >
                Total Price of <br />
                Products (Rs.)
              </th>
              <th
                class="px-4 py-3 font-normal text-[#4B5563] dark:text-textDark text-left"
              >
                Sent By
              </th>
              <th
                class="px-4 py-3 font-normal text-[#4B5563] dark:text-textDark text-center"
              >
                Sent To <br />
                Dispatch
              </th>

            </tr>
          </thead>
          <tbody class="bg-white dark:bg-[#1D1D1F] dark:border-[#1D1D1F]">
            <tr (click)="viewPremadePackages(order.processOrderId)"
              *ngFor="
                let order of orders
                  | paginate
                    : {
                        itemsPerPage: itemsPerPage,
                        currentPage: page,
                        totalItems: totalItems
                      };
                let i = index
              "
              class="hover:bg-[#415CFF] text-textLight dark:text-textDark hover:text-[#FFFFFF]  cursor-pointer"
            >
              <td class="px-4 py-3 text-left text-[#000000] dark:text-textDark">
                {{ (page - 1) * itemsPerPage + i + 1 }}
              </td>
              <td class="px-4 py-3 text-left text-[#000000] dark:text-textDark">
                {{ order.invNo || "N/A" }}
              </td>
              <td class="px-4 py-3 text-left text-textLight dark:text-textDark">
                {{
                  order.orderApp === "Dash"
                    ? "SalesDash"
                    : order.orderApp === "MarketPlace"
                    ? "Marketplace"
                    : order.orderApp
                }}
              </td>
              <td class="px-4 py-3 text-left text-[#000000] dark:text-textDark">
                {{ order.total | number : "1.2-2" }}
              </td>
              <td class="px-4 py-3 text-left text-[#000000] dark:text-textDark">
                {{ order.userName === null ? '--': order.userName }}
              </td>
              <td
                class="px-4 py-3 text-center text-[#000000] dark:text-textDark"
              >
                {{ order.sheduleDate | date : "d MMM, y" }}<br />
                {{ order.sheduleDate | date : "hh:mm a" }}
              </td>

              
            </tr>
            <tr *ngIf="orders.length === 0 && !isLoading">
              <td
                colspan="8"
                class="px-4 py-6 text-center text-textLight dark:text-textDark"
              >
                No orders found
              </td>
            </tr>
          </tbody>
        </table>
        
        <div
          *ngIf="!hasData"
          class="flex flex-col items-center w-full h-screen px-10 py-7 mt-6"
        >
          <p class="text-[#494949] my-6 dark:text-textDark">
            --No Data Available--
          </p>
          <img src="assets/images/NoData.png" alt="No Data" class="w-20 h-20" />
        </div>
      </div>

      <div *ngIf="hasData" class="flex justify-end items-center my-5 mr-5 pt-3 dark:bg-[#1D1D1F] text-right">
        <pagination-controls
          (pageChange)="onPageChange($event)"
          [responsive]="true"
          [previousLabel]="'Previous'"
          [nextLabel]="'Next'"
          [screenReaderPaginationLabel]="'Pagination'"
          [screenReaderPageLabel]="'page'"
          [screenReaderCurrentLabel]="'Youre on page'"
        >
        </pagination-controls>
      </div>

    </div>
  </div>
</div>
