<div class="flex flex-row pt-0 mb-4 mr-5 ml-0 gap-5 cursor-pointer">
    <p class="font-semibold text-[#424242] dark:text-white">Officer Targets</p>
    <!-- <p class="font-semibold text-sm text-[#424242] dark:text-white" onclick="history.back()">Center Dashboard</p> -->
</div>


<app-loading-spinner *ngIf="isLoading"/>


<div class="w-full px-10 py-7 bg-tileLight shadow-lg rounded-lg dark:bg-[#363636]">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4 mt-5">
        <div>
            <label for="jobRole" class="block text-sm font-medium text-[#534E4E] dark:text-textDark">
                Job Role
            </label>
            
        </div>


        <div>
            <label class="block text-sm font-medium text-[#534E4E] dark:text-textDark">EMP ID / User name</label>
            
        </div>
    </div>

    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4 mt-5">
        <div>
            <label for="fromDate" class="block text-sm font-medium text-gray-700 dark:text-textDark">From</label>
            <!-- <input id="fromDate" name="fromDate" type="date" [(ngModel)]="OfficerObj.fromDate"
                class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-[#1D1D1F] custom-date-input" /> -->
        </div>

        <div>
            <label for="toDate" class="block text-sm font-medium text-gray-700 dark:text-textDark">TO</label>
            <!-- <input id="toDate" name="toDate" type="date" [(ngModel)]="OfficerObj.toDate" (change)="checkToDate()"
                class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-[#1D1D1F] custom-date-input" /> -->
        </div>
    </div>

    <div class="flex flex-row justify-center items-center gap-12 my-10">
        <!-- <button class="bg-[#415CFF] text-white rounded-lg shadow-md px-6 py-2" (click)="onSubmit()">Genarate</button> -->
    </div>
</div>




