<app-loading-spinner *ngIf="isLoading"/>

<div class="flex flex-row items-center gap-6 font-semibold text[#424242] dark:text-white mb-4 mr-5 ml-0 cursor-pointer">
    <p onclick="history.back()">Distribution Centres</p>
    <p>Centre Dashboard</p>
</div>

<div *ngIf="!isLoading">
    <div class="w-full px-10 py-7 bg-tileLight dark:bg-[#363636] shadow-lg rounded-lg">
        <div class="flex flex-row justify-between items-center">
            <div class="flex flex-row gap-6">
                <div class="flex flex-row items-center gap-2 border-[2px] rounded-2xl px-4 py-2 cursor-pointer dark:text-textDark dark:bg-[#292929]"
                    [ngClass]="{'text-[#415CFF] border-[#415CFF]': isSelectProgress}" (click)="selectProgress()">
                    <i *ngIf="isSelectProgress" class="fa-solid fa-check"></i>
                    <p>Progress</p>
                </div>

                <div class="flex flex-row items-center gap-2 border-[2px] rounded-2xl px-4 py-2 cursor-pointer dark:text-textDark dark:bg-[#292929]"
                    [ngClass]="{'text-[#415CFF] border-[#415CFF]': isSelectViewOutForDelivery}" (click)="selectViewOutForDelivery()">
                    <i *ngIf="isSelectViewOutForDelivery" class="fa-solid fa-check"></i>
                    <p>Out for Delivery</p>
                </div>
                

                <div class="flex flex-row items-center gap-2 border-[2px] rounded-2xl px-4 py-2 cursor-pointer dark:text-textDark dark:bg-[#292929]"
                    [ngClass]="{'text-[#415CFF] border-[#415CFF]': isSelectViewOfficers}" (click)="selectViewOfficers()">
                    <i *ngIf="isSelectViewOfficers" class="fa-solid fa-check"></i>
                    <p>Officers</p>
                </div>
            </div>
        </div>

        <hr class="my-8 border-[1px] border-[#7F7F7F]" />

        <app-view-dch-center-target *ngIf="isSelectProgress" />

        <app-view-center-officers *ngIf="isSelectViewOfficers" />

        <app-dch-center-target-out-for-delivery *ngIf="isSelectViewOutForDelivery" />
    </div>

</div>