<app-loading-spinner *ngIf="isLoading" />

<div *ngIf="naviPath ==='centers' && !isLoading" class="flex flex-row pt-0 mb-4 mr-5 ml-0 gap-5 cursor-pointer">
    <p class="font-semibold text-sm text-[#424242] dark:text-white" (click)="navigateToCenters()">Centres</p>
    <p class="font-semibold text-sm text-[#424242] dark:text-white" (click)="navigateToCenterDashboard()">Centre Dashboard</p>
    <p class="font-semibold text-sm text-[#424242] dark:text-white" onclick="history.back()">Centre Officers</p>
    <p class="font-semibold text-sm text-[#424242] dark:text-white">Edit Profile Profile</p>
</div>

<div *ngIf="naviPath ==='manage-officers' && !isLoading"
    class="flex gap-5 font-semibold text[#424242] mb-4 mr-5 ml-0 dark:text-[#FFFFFF] dark:bg-blacks cursor-pointer">
    <p onclick="history.back()">Manage Officers</p>
    <p>Edit Profile</p>
</div>

<div *ngIf="!isLoading" class="mx-auto p-6 bg-white dark:bg-[#363636] rounded-lg shadow-mg">
    <form #PageOneForm="ngForm" (ngSubmit)="onSubmitFormPage1(PageOneForm)">
        <div *ngIf="selectedPage === 'pageOne'">
            <h2 class="text-xl mb-6 text-[#292929] dark:text-textDark">Edit Personal Details</h2>
            <div>
                <div class="flex justify-center pt-3 pb-9">
                    <div class="relative">
                        <input type="file" id="imageUpload" accept="image/*" class="hidden"
                            (change)="onFileSelected($event)" />

                        <!-- Default user icon - shows when no image exists -->
                        <div *ngIf="(!personalData.image && !selectedImage) || imageLoadError"
                            (click)="triggerFileInput($event)"
                            class="flex rounded-full border-solid border-2 justify-center items-center w-60 h-60 bg-gray-100">
                            <i class="fa-regular fa-user text-8xl text-gray-400"></i>
                        </div>

                        <!-- Existing profile image - shows only when no new image is selected -->
                        <img *ngIf="personalData.image && !selectedImage && !imageLoadError"
                            class="rounded-full w-60 h-60 object-cover" (click)="triggerFileInput($event)"
                            [src]="personalData.image" alt="Profile Picture" (error)="handleImageError()" />

                        <!-- Newly selected image - shows only when selected -->
                        <img *ngIf="selectedImage" class="rounded-full w-60 h-60 object-cover" [src]="selectedImage"
                            (click)="triggerFileInput($event)" alt="Profile Picture" (error)="handleImageError()" />

                        <span (click)="triggerFileInput($event)"
                            class="absolute bottom-5 right-5 transform translate-x-1/4 translate-y-1/4 px-4 py-3 bg-[#3980C0] rounded-full cursor-pointer">
                            <i class="fa-solid fa-pen text-3xl text-white"></i>
                        </span>
                    </div>
                </div>


                <div class="grid grid-cols-1 md:grid-cols-2 gap-y-4 gap-x-8 mb-4">

                    <div *ngIf="logingRole === 'Distribution Center Head'" (change)="getAllManagers()">
                        <label for="centerId" class="block text-sm font-medium text-[#534E4E] mb-1 dark:text-textDark">
                            Distribution Centre Name *
                        </label>
                        <select id="centerId" [(ngModel)]="personalData.centerId" name="centerId" placeholder="select"
                            class="form-control mt-1 block w-full p-2 text-[#292929] mb-1 dark:text-textDark border border-gray-300  rounded-md bg-gray-100 dark:bg-[#1D1D1F] focus:ring-indigo-500 focus:border-indigo-500"
                            #centerIdInput="ngModel" required>
                            <option disabled selected
                                class="p-2 text-[#292929] mb-1 dark:text-textDark bg-gray-100 dark:bg-[#1D1D1F]"
                                value="">
                                -- select centre--
                            </option>
                            <option *ngFor="let item of centerArr" [value]="item.id"
                                class="p-2 text-[#292929] mb-1 dark:text-textDark bg-gray-100 dark:bg-[#1D1D1F]">
                                {{item.centerName}}
                            </option>

                        </select>
                        <div *ngIf="centerIdInput.touched && !personalData.centerId && logingRole === 'Distribution Center Head'"
                            class="text-red-500 text-sm mt-1">
                            <div>Distribution Center Name is required</div>
                        </div>
                    </div>

                    

                    <div>
                        <label for="jobRole" class="block text-sm font-medium text-[#534E4E] mb-1 dark:text-textDark">
                            Job Role *
                        </label>
                        <select id="jobRole" [(ngModel)]="personalData.jobRole"
                            name="jobRole" placeholder="select" #jobRoleInput="ngModel" required
                            class="form-control mt-1 block w-full p-2 text-[#292929] mb-1 dark:text-textDark border border-gray-300  rounded-md bg-gray-100 dark:bg-[#1D1D1F] focus:ring-indigo-500 focus:border-indigo-500">
                            <option disabled
                                class="p-2 text-[#292929] mb-1 dark:text-textDark bg-gray-100 dark:bg-[#1D1D1F]">
                                -- select --
                            </option>
                            <option selected value="Distribution Center Manager"
                                *ngIf="logingRole === 'Distribution Center Head'"
                                class="p-2 text-[#292929] mb-1 dark:text-textDark bg-gray-100 dark:bg-[#1D1D1F]">
                                Distribution Centre Manager
                            </option>
                            <option selected value="Distribution Officer"
                                class="p-2 text-[#292929] mb-1 dark:text-textDark bg-gray-100 dark:bg-[#1D1D1F]">
                                Distribution Officer
                            </option>
                            
                        </select>
                        <div *ngIf="jobRoleInput.touched && !personalData.jobRole" class="text-red-500 text-sm mt-1">
                            <div>Job Role is required</div>
                        </div>
                    </div>

                    <!-- <div>
                        <label class="block text-sm font-medium text-[#534E4E] mb-1 dark:text-textDark">EMP ID / User
                            name</label>
                        <div class="flex mt-1">
                            <p class="inline-flex items-center px-3 py-3 text-sm text-[#534E4E] bg-gray-200 border border-e-0 border-gray-300 rounded-s-md dark:bg-[#1D1D1F] dark:text-gray-400 ">
                                {{personalData.empIdFirst}}</p>

                             <span
                                class="inline-flex items-center px-3 py-3 text-sm text-[#534E4E] bg-gray-200 border border-e-0 border-gray-300 rounded-s-md dark:bg-[#1D1D1F] dark:text-gray-400 ">
                                <span *ngIf="logingRole === 'Distribution Center Head'">
                                    <p *ngIf="personalData.jobRole === 'Distribution Manager'">DBM</p>
                                </span>
                            
                                <p *ngIf="personalData.jobRole === 'Distribution Officer'">DIO</p>

                            </span>
                            <p class="rounded-none inline-flex items-center rounded-e-lg bg-gray-50 border border-gray-300 text-[#534E4E] focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm pl-4  dark:bg-[#1D1D1F]  dark:placeholder-gray-400 dark:text-textDark dark:focus:ring-blue-500 dark:focus:border-blue-500">{{personalData.empId}}</p>
                              
                        </div>
                    </div> -->

                    <div
                        *ngIf="logingRole === 'Distribution Center Head' && (personalData.jobRole === 'Distribution Officer')">
                        <label for="irmId" class="block text-sm font-medium text-[#534E4E] mb-1 dark:text-textDark">
                            Manager *
                        </label>
                        <select id="irmId" [(ngModel)]="personalData.irmId" name="irmId" placeholder="select"
                            (change)="checkManager()" [disabled]="!personalData.centerId" #irmIdInput="ngModel" required
                            class="form-control mt-1 block w-full p-2 text-[#292929] mb-1 dark:text-textDark border border-gray-300  rounded-md bg-gray-100 dark:bg-[#1D1D1F] focus:ring-indigo-500 focus:border-indigo-500">
                            <option disabled selected
                                class="p-2 text-[#292929] mb-1 dark:text-textDark bg-gray-100 dark:bg-[#1D1D1F]"
                                value="">
                                -- select manager--
                            </option>
                            <option *ngFor="let item of managerArr" [value]="item.id"
                                class="p-2 text-[#292929] mb-1 dark:text-textDark bg-gray-100 dark:bg-[#1D1D1F]">
                                {{item.firstNameEnglish}} {{item.lastNameEnglish}}
                            </option>
                            <div *ngIf="irmIdInput.touched && !personalData.irmId && logingRole === 'Distribution Center Head' && (personalData.jobRole === 'Distribution Officer')"
                                class="text-red-500 text-sm mt-1">
                                <div>Distribution Centre Manager is required</div>
                            </div>
                        </select>
                    </div>

                    <div
                        *ngIf="(logingRole === 'Distribution Center Head' || logingRole === 'Distribution Center Manager') && (personalData.jobRole === 'Distribution Officer')">
                    </div>

                    <div>
                        <label for="languages" class="block text-sm font-medium text-[#534E4E] mb-1 dark:text-textDark">
                            Staff employee type *
                        </label>

                        <div class="flex items-center space-x-4 mt-3">
                            <div class="flex items-center space-x-2">
                                <input class="w-5 h-5" type="radio" id="sinhala" name="employeeType" value="Permanent"
                                    [(ngModel)]="personalData.employeeType" #employeeTypeInput="ngModel">
                                <label for="sinhala"
                                    class="block text-sm font-medium text-[#534E4E] mb-1 dark:text-textDark">Permanent</label>
                            </div>
                            <div class="flex items-center space-x-2">
                                <input class="w-5 h-5" type="radio" id="employeeType" name="employeeType"
                                    value="Temporary" [(ngModel)]="personalData.employeeType" #employeeTypeInput="ngModel">
                                <label for="english"
                                    class="block text-sm font-medium text-[#534E4E] mb-1 dark:text-textDark">Temporary</label>
                            </div>
                        </div>

                        <div *ngIf="employeeTypeInput.touched && !personalData.employeeType"
                            class="text-red-500 text-sm mt-1">
                            <div>Employee Type is required</div>
                        </div>
                    </div>

                    <div>
                        <label for="languages" class="block text-sm font-medium text-[#534E4E] mb-1 dark:text-textDark">
                            Preferred Languages *
                        </label>

                        <div class="flex items-center space-x-4 mt-3">
                            <div class="flex items-center space-x-2">
                                <input class="w-5 h-5" type="checkbox" id="sinhala" name="languages" value="Sinhala"
                                    [checked]="personalData.languages.includes('Sinhala')"
                                    (change)="onCheckboxChange('Sinhala', $event)" />
                                <label for="sinhala" class="text-[#534E4E] mb-1 dark:text-textDark">Sinhala</label>
                            </div>
                            <div class="flex items-center space-x-2">
                                <input class="w-5 h-5" type="checkbox" id="english" name="languages" value="English"
                                    [checked]="personalData.languages.includes('English')"
                                    (change)="onCheckboxChange('English', $event)" />
                                <label for="english" class="text-[#534E4E] mb-1 dark:text-textDark">English</label>
                            </div>
                            <div class="flex items-center space-x-2">
                                <input class="w-5 h-5" type="checkbox" id="tamil" name="languages" value="Tamil"
                                    [checked]="personalData.languages.includes('Tamil')"
                                    (change)="onCheckboxChange('Tamil', $event)" />
                                <label for="tamil" class="text-[#534E4E] mb-1 dark:text-textDark">Tamil</label>
                            </div>
                        </div>

                        <p *ngIf="languagesRequired" class="text-red-600 text-sm mt-2">
                            Please select at least one preferred language.
                        </p>
                    </div>


                    <div>
                        <label for="firstNameEnglish"
                            class="block text-sm font-medium text-[#534E4E] mb-1 dark:text-textDark">First
                            Name (in English) *</label>
                        <input id="firstNameEnglish" [(ngModel)]="personalData.firstNameEnglish" name="firstNameEnglish"
                            class="form-control mt-1 block w-full p-2 border border-gray-300 rounded-md text-[#292929] dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                            #firstNameEnglishInput="ngModel" required 
                            (keydown)="blockSpecialChars($event)" 
                            (input)="capitalizeFirstLetter('firstNameEnglish')"/>
                        <div *ngIf="firstNameEnglishInput.touched && !personalData.firstNameEnglish"
                            class="text-red-500 text-sm mt-1">
                            <div>First Name (in English) is required</div>
                        </div>
                    </div>

                    <div>
                        <label for="lastNameEnglish"
                            class="block text-sm font-medium text-[#534E4E] mb-1 dark:text-textDark">Last
                            Name (in English) *</label>
                        <input id="lastNameEnglish" name="lastNameEnglish" [(ngModel)]="personalData.lastNameEnglish"
                            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-[#292929] dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                            #lastNameEnglishInput="ngModel" required 
                            (keydown)="blockSpecialChars($event)" 
                            (input)="capitalizeFirstLetter('lastNameEnglish')" />
                        <div *ngIf="lastNameEnglishInput.touched && !personalData.lastNameEnglish"
                            class="text-red-500 text-sm mt-1">
                            <div>Last Name (in English) is required</div>
                        </div>
                    </div>

                    <div>
                        <label for="firstNameSinhala"
                            class="block text-sm font-medium text-[#534E4E] mb-1 dark:text-textDark">First
                            Name (in Sinhala) *</label>
                        <input id="firstNameSinhala" name="firstNameSinhala" [(ngModel)]="personalData.firstNameSinhala"
                            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-[#292929] dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                            #firstNameSinhalaInput="ngModel" required 
                            (keydown)="blockSpecialChars($event)" 
                            (input)="capitalizeFirstLetter('firstNameSinhala')"/>
                        <div *ngIf="firstNameSinhalaInput.touched && !personalData.firstNameSinhala"
                            class="text-red-500 text-sm mt-1">
                            <div>First Name (in Sinhala) is required</div>
                        </div>
                    </div>

                    <div>
                        <label for="lastNameSinhala"
                            class="block text-sm font-medium text-[#534E4E] mb-1 dark:text-textDark">Last
                            Name (in Sinhala) *</label>
                        <input id="lastNameSinhala" name="lastNameSinhala" [(ngModel)]="personalData.lastNameSinhala"
                            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-[#292929] dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                            #lastNameSinhalaInput="ngModel" required
                            (keydown)="blockSpecialChars($event)" 
                            (input)="capitalizeFirstLetter('lastNameSinhala')" />
                        <div *ngIf="lastNameSinhalaInput.touched && !personalData.lastNameSinhala"
                            class="text-red-500 text-sm mt-1">
                            <div>Last Name (in Sinhala) is required</div>
                        </div>
                    </div>

                    <div>
                        <label for="firstNameTamil"
                            class="block text-sm font-medium text-[#534E4E] mb-1 dark:text-textDark">First
                            Name (in Tamil) *</label>
                        <input id="firstNameTamil" name="firstNameTamil" [(ngModel)]="personalData.firstNameTamil"
                            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-[#292929] dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                            #firstNameTamilInput="ngModel" required 
                            (keydown)="blockSpecialChars($event)" 
                            (input)="capitalizeFirstLetter('firstNameTamil')"/>
                        <div *ngIf="firstNameTamilInput.touched && !personalData.firstNameTamil"
                            class="text-red-500 text-sm mt-1">
                            <div>First Name (in Tamil) is required</div>
                        </div>
                    </div>

                    <div>
                        <label for="lastNameTamil"
                            class="block text-sm font-medium text-[#534E4E] mb-1 dark:text-textDark">Last
                            Name (in Tamil) *</label>
                        <input id="lastNameTamil" name="lastNameTamil" [(ngModel)]="personalData.lastNameTamil"
                            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-[#292929] dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                            #lastNameTamilInput="ngModel" required
                            (keydown)="blockSpecialChars($event)" 
                            (input)="capitalizeFirstLetter('lastNameTamil')" />
                        <div *ngIf="lastNameTamilInput.touched && !personalData.lastNameTamil"
                            class="text-red-500 text-sm mt-1">
                            <div>Last Name (in Tamil) is required</div>
                        </div>
                    </div>

                    <div>
                        <label for="phoneNumber01"
                            class="block text-sm font-medium text-[#534E4E] mb-1 dark:text-textDark">
                            Mobile Number - 1 *
                        </label>
                        <div class="mt-1 flex">
                            <!-- Country Code Dropdown -->
                            <div class="dropdown-wrapper-1 relative inline-block w-36 mr-2">
                                <!-- Selected item -->
                                <div class="flex items-center justify-between p-2 border border-gray-300 rounded-md bg-gray-50 dark:bg-[#1D1D1F] text-[#534E4E] dark:text-textDark cursor-pointer"
                                    (click)="dropdownOpen = !dropdownOpen">
                                    <div class="flex items-center gap-2">
                                        <img *ngIf="selectedCountry1" [src]="getFlagUrl(selectedCountry1.code)"
                                            width="24" height="18" alt="{{ selectedCountry1.name }}" />
                                        <span>{{ selectedCountry1?.dialCode }}</span>
                                    </div>
                                    <span *ngIf="!dropdownOpen"><i class="fa-solid fa-angle-down"></i></span>
                                    <span *ngIf="dropdownOpen"><i class="fa-solid fa-angle-up"></i></span>
                                </div>

                                <!-- Dropdown list -->
                                <div *ngIf="dropdownOpen"
                                    class="absolute left-0 mt-1 w-full border border-gray-300 rounded-md bg-white dark:bg-[#1D1D1F] z-10 max-h-40 overflow-y-auto">
                                    <div *ngFor="let country of countries"
                                        class="flex items-center gap-2 p-2 hover:bg-gray-200 dark:hover:bg-gray-700 cursor-pointer"
                                        (click)="selectCountry1(country)">
                                        <img [src]="getFlagUrl(country.code)" width="24" height="18"
                                            alt="{{ country.name }}" />
                                        <span class="dark:text-white">{{ country.dialCode }}</span>
                                    </div>
                                </div>
                            </div>

                            <!-- Phone Number Input with Validation -->
                            <input id="phoneNumber01" name="phoneNumber01" type="tel"
                                [(ngModel)]="personalData.phoneNumber01" #phoneNumber01Input="ngModel"
                                class="block w-full p-2 border border-gray-300 rounded-r-md text-[#292929] dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                                placeholder="Enter your mobile number" required pattern="^[0-9]{9}$" minlength="9" (ngModelChange)="validateSriLankanPhone($event, 'phone01')"
                                maxlength="9"/>

                        </div>

                        <!-- Validation Messages -->
                        <div *ngIf="phoneNumber01Input.touched">
                            <div *ngIf="!personalData.phoneNumber01" class="text-red-500 text-sm mt-1">
                                Mobile Number - 1 is required.
                            </div>
                            <div *ngIf="personalData.phoneNumber01 && phoneNumber01Input.invalid && !isPhoneInvalidMap['phone01']" 
                                class="text-red-500 text-sm mt-1">
                                Mobile Number must be exactly 9 digits.
                            </div>

                            <div *ngIf="isPhoneInvalidMap['phone01'] && personalData.phoneNumber01" class="text-red-500 text-sm mt-1">
                                Please enter a valid mobile number (format: +947XXXXXXXX)
                              </div>
                        </div>
                    </div>


                    <div>
                        <label for="phoNumTwo" class="block text-sm font-medium text-[#534E4E] mb-1 dark:text-textDark">
                            Mobile Number - 2
                        </label>
                        <div class="mt-1 flex">
                            <div class="dropdown-wrapper-2 relative inline-block w-36 mr-2">
                                <!-- Selected item -->
                                <div class="flex items-center justify-between p-2 border border-gray-300 rounded-md bg-gray-50 dark:bg-[#1D1D1F] text-[#534E4E] dark:text-textDark cursor-pointer"
                                    (click)="dropdownOpen2 = !dropdownOpen2">
                                    <div class="flex items-center gap-2">
                                        <img *ngIf="selectedCountry2" [src]="getFlagUrl(selectedCountry2.code)"
                                            width="24" height="18" alt="{{ selectedCountry2.name }}" />
                                        <span>{{ selectedCountry2?.dialCode }}</span>
                                    </div>
                                    <span *ngIf="!dropdownOpen2"><i class="fa-solid fa-angle-down"></i></span>
                                    <span *ngIf="dropdownOpen2"><i class="fa-solid fa-angle-up"></i></span>
                                </div>

                                <!-- Dropdown list -->
                                <div *ngIf="dropdownOpen2"
                                    class="absolute left-0 mt-1 w-full border border-gray-300 rounded-md bg-white dark:bg-[#1D1D1F] z-10 max-h-40 overflow-y-auto">
                                    <div *ngFor="let country of countries"
                                        class="flex items-center gap-2 p-2 hover:bg-gray-200 dark:hover:bg-gray-700 cursor-pointer"
                                        (click)="selectCountry2(country)">
                                        <img [src]="getFlagUrl(country.code)" width="24" height="18"
                                            alt="{{ country.name }}" />
                                        <span class="dark:text-white">{{ country.dialCode }}</span>
                                    </div>
                                </div>
                            </div>
                          <input id="phoneNumber02" name="phoneNumber02" type="tel"
                            [(ngModel)]="personalData.phoneNumber02" #phoneNumber02Input="ngModel"
                            class="block w-full p-2 border border-gray-300 rounded-r-md text-[#292929] dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                            placeholder="Enter your mobile number" pattern="^[0-9]{9}$" minlength="9" maxlength="9" (ngModelChange)="validateSriLankanPhone($event, 'phone02')"/>
                        </div>
                      
                        <!-- Custom Validation: Same as Phone Number 1 -->
                        <div *ngIf="personalData.phoneNumber02 && personalData.phoneNumber02 === personalData.phoneNumber01 && !isPhoneInvalidMap['phone02'] && !phoneNumber02Input.invalid" class="text-red-500 text-sm mt-1">
                            Mobile Number - 2 should be different from Phone Number - 1.
                        </div>

                        <div *ngIf="personalData.phoneNumber02 && phoneNumber02Input.invalid && !isPhoneInvalidMap['phone02']"
                            class="text-red-500 text-sm mt-1">
                            Mobile Number must be exactly 9 digits.
                        </div>

                        <div *ngIf="isPhoneInvalidMap['phone02'] && personalData.phoneNumber02" class="text-red-500 text-sm mt-1">
                            Please enter a valid mobile number (format: +947XXXXXXXX)
                          </div>
                      </div>
                      

                    <div>
                        <label for="nic" class="block text-sm font-medium text-[#534E4E] mb-1 dark:text-textDark">NIC
                            Number *</label>
                        <input id="nic" name="nic" [(ngModel)]="personalData.nic"
                            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-[#292929] dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                            #nicInput="ngModel" required pattern="^(\d{9}[V]|\d{12})$"
                            (input)="onTrimInput($event, personalData, 'nic')"
                            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-[#292929] dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]" />
                        <div *ngIf="nicInput.touched && !personalData.nic" class="text-red-500 text-sm mt-1">
                            <div> NIC is required</div>
                        </div>
                        <div *ngIf="nicInput.touched && nicInput.errors?.['pattern']" class="text-red-500 text-sm mt-1">
                            <div>"Please enter a valid NIC number (12 digits or 10 digits followed by 'V').</div>
                        </div>
                    </div>

                    <div>
                        <label for="email"
                            class="block text-sm font-medium text-[#534E4E] mb-1 dark:text-textDark">Email *</label>
                        <input type="email" id="email" name="email" [(ngModel)]="personalData.email"
                            class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-[#292929] dark:text-textDark bg-tileLight dark:bg-tileBlack"
                            #emailInput="ngModel" required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" 
                            (input)="onTrimInput($event, personalData, 'email')"/>
                        <div *ngIf="emailInput.touched && !personalData.email" class="text-red-500 text-sm mt-1">
                            Email is required
                        </div>

                        <div *ngIf="emailInput.touched && emailInput.errors?.['pattern']"
                            class="text-red-500 text-sm mt-1">
                            <p>Please enter a valid email in the format: example&#64;domain.com</p>
                        </div>
                    </div>



                </div>

                <div class="flex justify-end m-10">
                    <button type="button"
                        class="px-6 py-2 bg-[#F6F7F9] border-gray-400 border-[2px] text-[#6B7D8C] rounded-lg mr-2"
                        (click)="onCancel()">Cancel</button>
                        <button 
                        (click)="
    !PageOneForm.invalid && !languagesRequired &&
    !isPhoneInvalidMap['phone01'] &&
    (
      !personalData.phoneNumber02 ||
      (
        !isPhoneInvalidMap['phone02'] &&
        personalData.phoneNumber02 !== personalData.phoneNumber01
      )
    )
                            ? nextForm('pageTwo') 
                            : nextForm('pageOne')"
                        type="submit"
                        class="px-6 py-1 bg-[#415CFF] text-white rounded-lg"
                      >
                        Next
                      </button>
                </div>

            </div>
        </div>
    </form>

    <form #PageTwoForm="ngForm" (ngSubmit)="onSubmitFormPage2(PageTwoForm)">

        <div *ngIf="selectedPage === 'pageTwo'">
            <h2 class="text-xl mb-6 text-[#292929] dark:text-textDark">Residential Details</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">

                <div>
                    <label for="house" class="block text-sm font-medium text-[#534E4E] mb-1 dark:text-textDark">House /
                        Plot Number *</label>
                    <input id="houseNumber" name="houseNumber" [(ngModel)]="personalData.houseNumber"
                        class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-[#292929] dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                        #houseNumberInput="ngModel" required 
                        
                        (input)="capitalizeFirstLetter('houseNumber')"/>
                    <div *ngIf="houseNumberInput.touched && !personalData.houseNumber"
                        class="text-red-500 text-sm mt-1">
                        <div>House / Plot Number is required</div>
                    </div>
                </div>

                <div>
                    <label for="street" class="block text-sm font-medium text-[#534E4E] mb-1 dark:text-textDark">Street
                        Name *</label>
                    <input id="streetName" name="streetName" [(ngModel)]="personalData.streetName"
                        class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-[#292929] dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                        #streetNameInput="ngModel" required
                        (input)="capitalizeFirstLetter('streetName')" />
                    <div *ngIf="streetNameInput.touched && !personalData.streetName" class="text-red-500 text-sm mt-1">
                        <div>Street Name is required</div>
                    </div>
                </div>

                <div>
                    <label for="city"
                        class="block text-sm font-medium text-[#534E4E] mb-1 dark:text-textDark">City *</label>
                    <input id="city" name="city" [(ngModel)]="personalData.city"
                        class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-[#292929] dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                        #cityInput="ngModel" required
                        (input)="capitalizeFirstLetter('city')" />
                    <div *ngIf="cityInput.touched && !personalData.city" class="text-red-500 text-sm mt-1">
                        <div>City is required</div>
                    </div>
                </div>

                <div>
                    <label for="district" class="block text-sm font-medium text-[#534E4E] dark:text-textDark">
                        District *
                    </label>

                    <app-searchable-dropdown id="district" name="district" [items]="districtItems"
                        [placeholder]="'Select a district'" [searchPlaceholder]="'Search districts...'"
                        [(ngModel)]="personalData.district" #districtInput="ngModel"
                        (ngModelChange)="onDistrictChange($event)"></app-searchable-dropdown>

                    <!-- validation message (same logic you already use) -->
                    <div *ngIf="districtInput.touched && !personalData.district" class="text-red-500 text-sm mt-1">
                        <div>District is required</div>
                    </div>
                </div>

                <div>
                    <label for="province" class="block text-sm font-medium text-[#534E4E] mb-1 dark:text-textDark">
                        Province *
                    </label>
                    <input id="province" name="province" [(ngModel)]="personalData.province"  #provinceInput="ngModel"
                        class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-[#292929] dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                        readonly />

                        <div *ngIf="provinceInput.touched && !personalData.province" class="text-red-500 text-sm mt-1">
                            <div>Province is required</div>
                        </div>
                </div>

                <div>
                    <label for="country"
                        class="block text-sm font-medium text-[#534E4E] mb-1 dark:text-textDark">Country *</label>
                    <input readonly id="country" name="country" [(ngModel)]="personalData.country"
                        class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-[#292929] dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]" />
                </div>
            </div>
            <div>
                <h2 class="text-xl mt-10 mb-6 text-[#292929] dark:text-textDark">Edit Bank Details</h2>
                <div class="pb-6">
                    <label for="accHolderName"
                        class="block text-sm font-medium text-[#534E4E] mb-1 dark:text-textDark">Account
                        Holder’s Name *</label>
                    <input id="accHolderName" name="accHolderName" [(ngModel)]="personalData.accHolderName"
                        class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-[#292929] dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                        #accHolderNameInput="ngModel" required maxlength="50" pattern="^[a-zA-Z0-9\s.']*$"
                        (keydown)="blockSpecialChars($event)" 
                        (input)="onTrimInput($event, personalData, 'accHolderName')"
          
                        />
                    <div *ngIf="accHolderNameInput.touched && !personalData.accHolderName"
                        class="text-red-500 text-sm mt-1">
                        <div>Account Holder's Name is required</div>
                    </div>
                    <div
  *ngIf="accHolderNameInput.touched && personalData.accHolderName && accHolderNameInput.invalid"
  class="text-red-500 text-sm mt-1"
>
  Please do not enter any special characters(eg., !, $, etc).
</div>
                </div>

                <div class="pb-6">
                    <label for="accNumber"
                        class="block text-sm font-medium text-[#534E4E] mb-1 dark:text-textDark">Account
                        Number *</label>
                    <input id="accNumber" name="accNumber" [(ngModel)]="personalData.accNumber"
                        class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-[#292929] dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                        #accNumberInput="ngModel" required pattern="^[a-zA-Z0-9]+$"
                        (input)="onTrimInput($event, personalData, 'accNumber')"/>
                    <div *ngIf="accNumberInput.touched && !personalData.accNumber" class="text-red-500 text-sm mt-1">
                        <div>Account Number is required</div>
                    </div>
                    <div
  *ngIf="accNumberInput.touched && personalData.accNumber && accNumberInput.errors?.['pattern']"
  class="text-red-500 text-sm mt-1"
>
  <div>Account Number cannot contain special characters</div>
</div>
                </div>

                <div class="pb-6">
                    <label for="conformAccNumber"
                        class="block text-sm font-medium text-[#534E4E] mb-1 dark:text-textDark">Confirm Account
                        Number *</label>
                    <input id="conformAccNumber" name="conformAccNumber" [(ngModel)]="personalData.conformAccNumber"
                        class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-[#292929] dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                        #confirmAccNumberInput="ngModel" required pattern="^[a-zA-Z0-9]+$"
                        (input)="onTrimInput($event, personalData, 'conformAccNumber')" />
                    <div *ngIf="confirmAccNumberInput.touched && !personalData.conformAccNumber" class="text-red-500 text-sm mt-1">
                        <div>Confirm Account Number is required</div>
                    </div>
                    <div *ngIf="personalData.conformAccNumber && (personalData.accNumber !== personalData.conformAccNumber) && !confirmAccNumberInput.errors?.['pattern']"
                        class="text-red-500 text-sm mt-1">
                        <div>Confirm Account Number should be the same as Account Number.</div>
                    </div>
                    <div
  *ngIf="confirmAccNumberInput.touched && personalData.conformAccNumber && confirmAccNumberInput.errors?.['pattern']"
  class="text-red-500 text-sm mt-1"
>
  <div>Account Number cannot contain special characters</div>
</div>
                </div>

                <!-- <div class="pb-6">
                    <label for="accNumber" class="block text-sm font-medium text-[#534E4E] dark:text-textDark">Confirm
                        Account Number</label>
                    <input type="number" id="accNumber" name="accNumber" [(ngModel)]="personalData.conformAccNumber"
                        class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                        #conformAccNumberInput="ngModel" required />
                    <div *ngIf="conformAccNumberInput.touched && !personalData.conformAccNumber"
                        class="text-red-500 text-sm mt-1">
                        <div>Account Number is required</div>
                    </div>
                    <div *ngIf="personalData.conformAccNumber && personalData.accNumber !== personalData.conformAccNumber"
                        class="text-red-500 text-sm mt-1">
                        <div>Confirm Account Number should be the same as Account Number.</div>
                    </div>
                </div> -->

                

                <div class="pb-6">
                    <label for="bankDropdown"
                        class="block text-sm font-medium text-[#534E4E] mb-1 dark:text-textDark">Bank
                        Name *</label>
                    <select id="bankDropdown" name="bankDropdown" [(ngModel)]="selectedBankId" #selectedBank="ngModel" (change)="onBankChange()"
                        class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-[#292929] dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]">
                        <option [ngValue]="null" disabled>Select a bank</option>
                        <option *ngFor="let bank of banks" [ngValue]="bank.ID">{{ bank.name }}</option>
                    </select>

                    <div *ngIf="!selectedBankId && selectedBank.touched"
                        class="text-red-500 text-sm mt-1">
                        <div>Please select a bank</div>
                    </div>
                </div>

                <div class="pb-6">
                    <label for="branchDropdown"
                        class="block text-sm font-medium text-[#534E4E] mb-1 dark:text-textDark">Branch
                        Name *</label>
                    <select id="branchDropdown" name="branchDropdown" [(ngModel)]="selectedBranchId" #selectedBranch="ngModel"
                        (change)="onBranchChange()" [disabled]="!selectedBankId"
                        class="mt-1 block w-full p-2 border border-gray-300 rounded-md text-[#292929] dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]">
                        <option [ngValue]="null" disabled>Select a branch</option>
                        <option *ngFor="let branch of branches" [ngValue]="branch.ID">{{ branch.name }}</option>
                    </select>
                    <div *ngIf="!selectedBranchId && selectedBranch.touched"
                        class="text-red-500 text-sm mt-1">
                        <div>Please select a branch</div>
                    </div>
                </div>
            </div>


            <div class="flex justify-end m-10">
                <button (click)="nextForm('pageOne')" type="button"
                    class="px-8 py-2 bg-[#F6F7F9] border-gray-400 border-[2px] text-[#6B7D8C] rounded-lg mr-2">Back</button>
                <button type="submit" class="px-6 py-1 bg-[#415CFF] text-white rounded-lg"
                    
                >Sent to Approve</button>
            </div>
        </div>
    </form>


    <!-- <form #PageThreeForm="ngForm" (ngSubmit)="onSubmitForm(PageThreeForm)">

        <div *ngIf="selectedPage === 'pageThree'">

            
            <div class="flex justify-end m-10">
                <button (click)="nextForm('pageTwo')" type="button"
                    class="px-6 py-2 bg-[#F6F7F9] border-gray-400 border-[2px] text-[#6B7D8C] rounded-lg mr-2">Back</button>
                <button type="submit" class="px-6 py-1 bg-[#415CFF] text-white rounded-lg"
                    (click)="!PageThreeForm.invalid ? onSubmit() : nextForm('pageThree')">Sent to
                    Approve</button>
                
            </div>
        </div>
    </form> -->


</div>