<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<div *ngIf="!isLoading" class="w-full overflow-x-auto">
    <div>
        <div
          class="pt-5 px-12 pb-5 min-w-[1550px] bg-tileLight dark:bg-tileBlack shadow-lg rounded-lg"
        >
          <div class="flex justify-between items-center mb-8">
            <div class="flex items-center">
              <h2 class="text-2xl font-normal text-textLight dark:text-textDark">
                All Orders ({{
                  totalItems === 0
                    ? "0"
                    : totalItems < 10
                    ? "0" + totalItems
                    : totalItems
                }})
              </h2>
            </div>
    
            <div class="flex items-center flex-wrap gap-4">
    
              <!-- <div>
                
                <p-calendar
                  id="fromDate"
                  [(ngModel)]="dateFilter1"
                  (onSelect)="onDateSelect()"
                  (onClear)="onDateClear()"
                  placeholder="Ordered Date"
                  [showIcon]="true"
                  [showClear]="true"
                  [showButtonBar]="true"
                  dateFormat="yy-mm-dd"
                  [monthNavigator]="true"
                  [yearNavigator]="true"
                  yearRange="1900:2030"
                  iconDisplay="input"
                  [style]="{ width: '16rem', height: '2rem' }"
                  panelStyleClass="calendar-popup-small rounded-xl dark:bg-[#2d354d] dark:text-textDark dark:border-gray-600 
                       [&_.p-datepicker-calendar_td_span:hover]:dark:bg-[#4a5568] 
                       [&_.p-datepicker-calendar_td_span:hover]:dark:text-white
                       [&_.p-datepicker-header]:dark:bg-[#2d354d] 
                       [&_.p-datepicker-header]:dark:text-white
                       [&_.p-datepicker-buttonbar]:dark:bg-[#2d354d]
                       [&_.p-button:hover]:dark:bg-[#6b7280]"
                  inputStyleClass="p-2 border cursor-pointer rounded-xl bg-[#F1F1F1] dark:bg-[#272F45] text-textLight dark:text-textDark w-64 h-8 pr-12"
                  [appendTo]="'body'"
                />
              </div> -->
    
              <!-- <div>
                <p-calendar
                  id="deliveryDate"
                  [(ngModel)]="dateFilter"
                  (onSelect)="onFilterChange()"
                  (onClear)="onDateFilterClear()"
                  placeholder="Delivery Date"
                  [showIcon]="true"
                  [showClear]="true"
                  [showButtonBar]="true"
                  dateFormat="yy-mm-dd"
                  [monthNavigator]="true"
                  [yearNavigator]="true"
                  yearRange="1900:2030"
                  iconDisplay="input"
                  [style]="{ width: '16rem', height: '2rem' }"
                  panelStyleClass="calendar-popup-small rounded-xl dark:bg-[#2d354d] dark:text-textDark dark:border-gray-600 
                       [&_.p-datepicker-calendar_td_span:hover]:dark:bg-[#4a5568] 
                       [&_.p-datepicker-calendar_td_span:hover]:dark:text-white
                       [&_.p-datepicker-header]:dark:bg-[#2d354d] 
                       [&_.p-datepicker-header]:dark:text-white
                       [&_.p-datepicker-buttonbar]:dark:bg-[#2d354d]
                       [&_.p-button:hover]:dark:bg-[#6b7280]"
                  inputStyleClass="p-2 border cursor-pointer rounded-xl bg-[#F1F1F1] dark:bg-[#272F45] text-textLight dark:text-textDark w-64 h-8 pr-12"
                  [appendTo]="'body'"
                />
              </div> -->
    
              <!-- <div
                class="flex items-center rounded-full px-4 py-2 w-96 bg-[#F1F1F1] dark:bg-[#272F45]"
              >
                <input
                  type="text"
                  [(ngModel)]="searchTerm"
                  (input)="trimLeadingSpaces()"
                  (keyup.enter)="onSearch()"
                  (keyup.esc)="onClearSearch()"
                  placeholder="Search by Invoice No..."
                  class="bg-transparent outline-none w-full text-textLight dark:text-textDark"
                />
                <button
                  type="button"
                  (click)="onSearch()"
                  class="text-gray-500 hover:text-gray-700 focus:outline-none mr-2"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M21 21l-6-6m2-5a7 7 0 10-14 0 7 7 0 0014 0z"
                    />
                  </svg>
                </button>
                <button
                  type="button"
                  (click)="onClearSearch()"
                  class="text-gray-500 hover:text-gray-700 focus:outline-none "
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M6 18L18 6M6 6l12 12"
                    />
                  </svg>
                </button>
              </div> -->
            </div>
          </div>
          <div class="w-full overflow-x-auto">
            <table *ngIf="hasData" class="min-w-full divide-y divide-gray-200">
              <thead>
                <tr>
                  <th
                    class="px-4 py-3 font-normal text-textLight dark:text-textDark text-left"
                  >
                    No
                  </th>
                  <th
                    class="px-4 py-3 font-normal text-textLight dark:text-textDark text-center"
                  >
                    Invoice No
                  </th>
                  <th
                    class="px-4 py-3 font-normal text-textLight dark:text-textDark text-left"
                  >
                    Application
                  </th>
                  <th
                    class="px-4 py-3 font-normal text-textLight dark:text-textDark text-left"
                  >
                    Total Price of <br />
                    Products(.Rs)
                  </th>
                  <th
                    class="px-4 py-3 font-normal text-textLight dark:text-textDark text-left"
                  >
                    Ordered Date
                  </th>
                  <th
                    class="px-4 py-3 font-normal text-textLight dark:text-textDark text-left"
                  >
                    Scheduled <br />
                    Delivery Date
                  </th>
                  <th
                    class="px-4 py-3 font-normal text-textLight dark:text-textDark text-center"
                  >
                    Status
                  </th>
                  <th
                    class="px-4 py-3 font-normal text-textLight dark:text-textDark text-center"
                  >
                    Action
                  </th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200">
                <tr
                  *ngFor="
                    let order of orders
                      | paginate
                        : {
                            itemsPerPage: itemsPerPage,
                            currentPage: page,
                            totalItems: totalItems
                          };
                    let i = index
                  "
                  class="hover:bg-gray-50 dark:hover:bg-gray-700"
                >
                  <td class="px-4 py-3 text-left text-textLight dark:text-textDark">
                    {{ (page - 1) * itemsPerPage + i + 1 }}
                  </td>
                  <td
                    class="px-4 py-3 text-center text-textLight dark:text-textDark"
                  >
                    {{ order.invNo || "N/A" }}
                  </td>
                  <td class="px-4 py-3 text-left text-textLight dark:text-textDark">
                    {{
                      order.orderApp === "Dash"
                        ? "SalesDash"
                        : order.orderApp === "MarketPlace"
                        ? "Marketplace"
                        : order.orderApp
                    }}
                  </td>
                  <td class="px-4 py-3 text-left text-textLight dark:text-textDark">
                    {{ order.total | number : "1.2-2" }}
                  </td>
                  <td class="px-4 py-3 text-left text-textLight dark:text-textDark">
                    {{ order.createdAt | date : "mediumDate" }}
                  </td>
                  <td class="px-4 py-3 text-left text-textLight dark:text-textDark">
                    {{ order.sheduleDate | date : "mediumDate" }}
                  </td>
                  <td class="px-4 py-3 text-center">
                    <!-- <span
                      class="inline-block font-medium rounded-md px-4 py-2 text-xs text-center w-32 {{
                        getStatusClass(order.status)
                      }}"
                    >
                      {{ order.status || "N/A" }}
                    </span> -->
                    <span
                      class="inline-block bg-[#FFB9B7] text-[#D16D6A] font-medium rounded-md px-4 py-2 text-xs text-center w-32"
                    >
                      Pending
                    </span>
                  </td>
                  <td class="px-4 py-3 text-center">
                    <button
                      class="w-5 h-5 text-blue-500 hover:text-blue-700"
                      (click)="viewPremadePackages(order.processOrderId)"
                    >
                      <svg
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M3 14C3 9.02944 7.02944 5 12 5C16.9706 5 21 9.02944 21 14M17 14C17 16.7614 14.7614 19 12 19C9.23858 19 7 16.7614 7 14C7 11.2386 9.23858 9 12 9C14.7614 9 17 11.2386 17 14Z"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </button>
                  </td>
                </tr>
                <tr *ngIf="orders.length === 0 && !isLoading">
                  <td
                    colspan="8"
                    class="px-4 py-6 text-center text-textLight dark:text-textDark"
                  >
                    No orders found
                  </td>
                </tr>
              </tbody>
            </table>
            <div *ngIf="hasData" class="dark:bg-[#262f45]">
              <pagination-controls
                (pageChange)="onPageChange($event)"
                [responsive]="true"
                [previousLabel]="'Previous'"
                [nextLabel]="'Next'"
                [screenReaderPaginationLabel]="'Pagination'"
                [screenReaderPageLabel]="'page'"
                [screenReaderCurrentLabel]="'Youre on page'"
              >
              </pagination-controls>
            </div>
    
            <div
              *ngIf="!hasData"
              class="flex flex-col items-center w-full h-screen px-10 py-7 mt-6"
            >
              <p class="text-[#494949] my-6 dark:text-textDark">
                --No Data Available--
              </p>
              <img src="assets/images/NoData.png" alt="No Data" class="w-20 h-20" />
            </div>
          </div>
        </div>
      </div>
</div>
