
<div class="p-4">
    <h2 class="text-lg font-semibold mb-4">Dashboard</h2>
    <div class="flex space-x-4">
        <div class="bg-white shadow-md rounded-lg p-6 text-center border">
            <h3 class="text-sm font-medium text-gray-500">Total COO</h3>
            <p class="text-2xl font-bold text-black mt-2">{{ COOCount }}</p>
        </div>
        <div class="bg-white shadow-md rounded-lg p-6 text-center border">
            <h3 class="text-sm font-medium text-gray-500">Total CUO</h3>
            <p class="text-2xl font-bold text-black mt-2">{{ CUOCount }}</p>
        </div>
    </div>
</div>

<div class="w-full px-10 py-7 bg-tileLight dark:bg-tileBlack shadow-lg rounded-xl">
    <div class="flex flex-row items-center justify-between mb-8">
        <h2 class="text-lg font-semibold mb-4" >Collection Statistics</h2>

        <div class="flex flex-row items-center gap-1 bg-[#F5F6F6] rounded-lg">
            <button 
              [ngClass]="{'bg-[#E0E0E0] shadow-lg rounded-lg border-[1px] border-gray-300': activeButton === 'week', 'bg-[#F5F6F6]': activeButton !== 'week'}" 
              class="px-3 py-2 font-semibold " 
              (click)="fetchChart('week')">
              week
            </button>
            <button 
              [ngClass]="{'bg-[#E0E0E0] shadow-lg rounded-lg border-[1px] border-gray-300': activeButton === 'month', 'bg-[#F5F6F6]': activeButton !== 'month'}" 
              class="px-3 py-2 font-semibold" 
              (click)="fetchChart('month')">
              month
            </button>
            <button 
              [ngClass]="{'bg-[#E0E0E0] shadow-lg rounded-lg border-[1px] border-gray-300': activeButton === 'year', 'bg-[#F5F6F6]': activeButton !== 'year'}" 
              class="px-3 py-2 font-semibold" 
              (click)="fetchChart('year')">
              year
            </button>
          </div>
          

    </div>

    <div class="dashboard">

        <!-- <div class="flex justify-center space-x-4 mt-6">
            <button class="bg-blue-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" (click)="fetchChart('week')">Last 7 Days</button>
            <button class="bg-blue-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" (click)="fetchChart('month')">Last 30 Days</button>
            <button class="bg-blue-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" (click)="fetchChart('year')">By Month</button>
        </div> -->
  

    <div>
        <div>
            
            <div class="bg-[#FFFFFF] p-5 rounded-lg text-center text-[#888888]">
              <canvas id="MyChart" class="w-full"></canvas>
            </div>
          </div>
    </div>

    <div class="p-4">
        <h3 class="text-blue-500 underline decoration-offset-custom my-3 border-b-2 ">Activity</h3>
        <ul class="my-2 list-disc">
            <li class="text-[#636D81] my-3" *ngFor="let log of activityLogs">
                You changed the price of
                <span class="text-black font-bold">{{ log.cropNameEnglish }} {{ log.varietyNameEnglish }}</span> grade
                <span class="font-bold text-black">{{ log.grade }} </span> from
                <span class="font-bold text-black"> Rs.{{ log.price }}</span> to
                <span class="font-bold text-black">Rs.{{ log.updatedPrice }}</span>
                <br />
                {{ log.updateAt }}
            </li>
        </ul>
    </div>
</div>
