<app-loading-spinner *ngIf="isLoading" />

<div class="flex flex-row items-center gap-6 font-semibold text[#424242] dark:text-white mb-4 mr-5 ml-0 cursor-pointer">
    <p onclick="history.back()">Distribution Centres</p>
    <p>Add a Distribution Centre</p>
</div>
<div class="p-8 mx-auto bg-tileLight dark:bg-[#363636] shadow-lg dark:text-[White] rounded-lg w-full">
    <div class="flex justify-between items-center mb-6">
        <h2 class="text-2xl mb-6 text-[#292929] dark:text-[White] ">Add Distribution Centre</h2>
    </div>
    <form class="grid grid-cols-2 gap-4" #centerForm="ngForm">
        <!-- Collection Center Name -->
        <div>
            <label class="mb-1 block text-sm font-medium text-[#534E4E] dark:text-textDark">Distribution Centre
                Name</label>
            <input type="text"
                class="form-control mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-[#1D1D1F] "
                [(ngModel)]="centerData.DistributionCenterName" name="centerName" required #centerName="ngModel" />
            <p *ngIf="centerName.invalid && centerName.touched" class="text-red-500 text-sm">
                Distribution Centre Name is required.
            </p>
        </div>
        <!-- Country -->
        <div>
            <label class="mb-1 block text-sm font-medium text-[#534E4E] dark:text-textDark">Country</label>
            <input type="text"
                class="form-control mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                [(ngModel)]="centerData.country" name="country" required #country="ngModel" disabled />
            <!-- <select
                class="form-control mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                [(ngModel)]="centerData.country" name="country" required #country="ngModel" disabled>

                <option value="Sri Lanka">Sri Lanka</option>
            </select> -->
            <p *ngIf="country.invalid && country.touched" class="text-red-500 text-sm">
                Country is required.
            </p>
        </div>
        <!-- Province -->
        <div>
            <label class="mb-1 block text-sm font-medium text-[#534E4E] dark:text-textDark">Province</label>
            <select
                class="form-control mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                [(ngModel)]="centerData.province" (change)="updateFilteredDistricts()" name="province" required
                #province="ngModel">
                <option value="" disabled>Select Province</option>
                <option *ngFor="let province of provinces" [value]="province">
                    {{ province }}
                </option>
            </select>
            <p *ngIf="province.invalid && province.touched" class="text-red-500 text-sm">
                Province is required.
            </p>
        </div>
        <!-- District -->
        <div>
            <label class="mb-1 block text-sm font-medium text-[#534E4E] dark:text-textDark">District</label>
            <select
                class="form-control mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                [(ngModel)]="centerData.district" name="district" required #district="ngModel">
                <option value="" disabled>Select District</option>
                <option *ngFor="let district of filteredDistricts" [value]="district.name">
                    {{ district.name }}
                </option>
            </select>
            <p *ngIf="district.invalid && district.touched" class="text-red-500 text-sm">
                District is required.
            </p>
        </div>
        <!-- Building Number -->
        <div>
            <label class="mb-1 block text-sm font-medium text-[#534E4E] dark:text-textDark">Latitude</label>
            <input type="number" step="any"
                class="form-control mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                [(ngModel)]="centerData.latitude" name="latitude" required min="-90" max="90"
                (input)="enforceLatitudeRange($event)" #latitude="ngModel" />
            <p *ngIf="latitude.errors?.['required'] && latitude.touched" class="text-red-500 text-sm">
                Latitude is required.
            </p>
            <p *ngIf="(latitude.errors?.['min'] || latitude.errors?.['max']) && latitude.touched"
                class="text-red-500 text-sm">
                Latitude must be between -90 and 90.
            </p>
        </div>
        <!-- Street Name -->
        <div>
            <label class="mb-1 block text-sm font-medium text-[#534E4E] dark:text-textDark">Longitude</label>
            <input type="number" step="any"
                class="form-control mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                [(ngModel)]="centerData.longitude" name="longitude" required min="-180" max="180"
                (input)="enforceLongitudeRange($event)" #longitude="ngModel" />
            <p *ngIf="longitude.errors?.['required'] && longitude.touched" class="text-red-500 text-sm">
                Longitude is required.
            </p>
            <p *ngIf="(longitude.errors?.['min'] || longitude.errors?.['max']) && longitude.touched"
                class="text-red-500 text-sm">
                Longitude must be between -180 and 180.
            </p>
        </div>
        <!-- City -->
        <div>
            <label class="mb-1 block text-sm font-medium text-[#534E4E] dark:text-textDark">City</label>
            <input type="text"
                class="form-control mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                [(ngModel)]="centerData.city" name="city" required #city="ngModel" />
            <p *ngIf="city.invalid && city.touched" class="text-red-500 text-sm">
                City is required.
            </p>
        </div>
        <!-- Registration Code -->
        <div>
            <label class="mb-1 block text-sm font-medium text-[#534E4E] dark:text-textDark">Distribution Centre Reg
                Code</label>
            <input type="text"
                class="form-control mt-1 block w-full p-2 border border-gray-300 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                [(ngModel)]="centerData.regCode" name="regCode" placeholder=" ----- " required #regCode="ngModel" />
            <p *ngIf="regCode.invalid && regCode.touched" class="text-red-500 text-sm">
                Registration Code is required.
            </p>
        </div>
    </form>
    <div class="flex justify-end mt-6 space-x-4">
        <button type="button"
            class="px-4 py-2 bg-[#F6F7F9] border-[2px] border-[#95A1AC] text-[#6B7D8C] rounded-md mr-2"
            (click)="onCancel()">
            Cancel
        </button>
        <button type="submit" class="px-4 py-2 bg-[#3980C0] text-[#FFFFFF] rounded-md" (click)="onSubmit()">
            Submit
        </button>
    </div>
</div>