<app-loading-spinner *ngIf="isLoading" />

<div *ngIf="!isLoading"
    class="flex flex-row items-center gap-6 font-semibold text-[#424242] dark:text-white mb-4 mr-5 ml-0 cursor-pointer">
    <p onclick="history.back()">Manage Officers</p>
    <p>Add Officer</p>
</div>

<div *ngIf="!isLoading" class="mx-auto p-6 bg-white dark:bg-[#363636] rounded-lg shadow-mg">
    <form #PageOneForm="ngForm" (ngSubmit)="onSubmitFormPage1(PageOneForm)">

        <div *ngIf="selectedPage === 'pageOne'">
            <h2 class="text-xl mb-6 text-[#292929] dark:text-textDark font-semibold">Add Personal Details</h2>
            <div>
                <div class="flex justify-center pt-3 mb-12">
                    <div class="relative">
                        <input type="file" id="imageUpload" accept="image/*" class="hidden"
                            (change)="onFileSelected($event)" />

                        <!-- Display default image if no file is selected -->
                        <div *ngIf="!selectedImage" (click)="triggerFileInput($event)"
                            class="flex rounded-full border-solid border-2 justify-center items-center w-60 h-60">
                            <i class="fa-regular fa-user text-8xl"></i>
                        </div>

                        <!-- Display the selected image if available -->
                        <img *ngIf="selectedImage" class="rounded-full w-60 h-60 object-cover" [src]="selectedImage"
                            alt="Profile Picture" />


                        <span (click)="triggerFileInput($event)"
                            class="absolute bottom-5 right-5 transform translate-x-1/4 translate-y-1/4 px-4 py-3  bg-[#3980C0] rounded-full cursor-pointer">
                            <i class="fa-solid fa-pen text-3xl text-white"></i>
                        </span>
                    </div>
                </div>
                


                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
                    <div *ngIf="logingRole === 'Distribution Center Head'" (change)="getAllDistributionManagers()">
                        <label for="centerId" class="block text-sm font-medium text-[#534E4E] dark:text-textDark">
                            Distribution Centre Name *
                        </label>
                        <select id="centerId" [(ngModel)]="personalData.centerId" name="centerId" placeholder="select"
                            #centerIdInput="ngModel" required
                            class="form-control mt-1 block w-full p-2 text-[#534E4E] dark:text-textDark border border-gray-300 hover:bg-gray-200  rounded-md bg-gray-100 dark:bg-[#1D1D1F] focus:ring-indigo-500 focus:border-indigo-500">
                            <option disabled selected
                                class="p-2 text-[#959595] dark:text-textDark bg-gray-100 dark:bg-[#1D1D1F]" value="">
                                -- select centre--
                            </option>
                            <option *ngFor="let item of centerArr" [value]="item.id"
                                class="p-2 text-[#534E4E] dark:text-textDark bg-gray-100 dark:bg-[#1D1D1F]">
                                {{item.centerName}}
                            </option>

                        </select>
                        <div *ngIf="centerIdInput.touched && !personalData.centerId && logingRole === 'Distribution Center Head'"
                            class="text-red-600 text-sm mt-2">
                            <div>Distribution Centre Name is required</div>
                        </div>
                    </div>

                    <div>
                        <label for="jobRole" class="block text-sm font-medium text-[#534E4E] dark:text-textDark">
                            Job Role *
                        </label>
                        <select id="jobRole" [(ngModel)]="personalData.jobRole"
                            name="jobRole" placeholder="select" #jobRoleInput="ngModel" required
                            class="form-control mt-1 block w-full p-2 text-[#030308] dark:text-textDark border border-gray-300 hover:bg-gray-200  rounded-md bg-gray-100 dark:bg-[#1D1D1F] focus:ring-indigo-500 focus:border-indigo-500">
                            <option disabled
                                class="p-2 text-[#534E4E] dark:text-textDark bg-gray-100 dark:bg-[#1D1D1F]">
                                -- select --
                            </option>
                            <option selected value="Distribution Center Manager"
                                *ngIf="logingRole === 'Distribution Center Head'"
                                class="p-2 text-[#030308] dark:text-textDark bg-gray-100 dark:bg-[#1D1D1F]">
                                Distribution Center Manager
                            </option>
                            <option selected value="Distribution Officer"
                                class="p-2 text-[#030308] dark:text-textDark bg-gray-100 dark:bg-[#1D1D1F]">
                                Distribution Officer
                            </option>
                            

                        </select>
                        <!-- Error: Required Field -->
                        <div *ngIf="jobRoleInput.touched && !personalData.jobRole" class="text-red-500 text-sm mt-1">
                            <div>Job Role is required</div>
                        </div>
                    </div>

                    


                    <div
                        *ngIf="logingRole === 'Distribution Center Head' && (personalData.jobRole === 'Distribution Officer')">
                        <label for="centerId" class="block text-sm font-medium text-[#534E4E] dark:text-textDark">
                            Manager *
                        </label>
                        <select id="irmId" [(ngModel)]="personalData.irmId" name="irmId" placeholder="select"
                            #irmIdInput="ngModel" required (change)="checkManager()" [disabled]="!personalData.centerId"
                            class="form-control mt-1 block w-full p-2 text-[#534E4E] dark:text-textDark border border-gray-300 hover:bg-gray-200  rounded-md bg-gray-100 dark:bg-[#1D1D1F] focus:ring-indigo-500 focus:border-indigo-500">
                            <option disabled [ngValue]="null"
                                class="p-2 text-[#534E4E] dark:text-textDark bg-gray-100 dark:bg-[#1D1D1F]">
                                -- select manager--
                            </option>
                            <option *ngFor="let item of managerArr" [value]="item.id"
                                class="p-2 text-[#534E4E] dark:text-textDark bg-gray-100 dark:bg-[#1D1D1F]">
                                {{item.firstNameEnglish}} {{item.lastNameEnglish}}
                            </option>
                        </select>
                        <div *ngIf="irmIdInput.touched && !personalData.irmId && logingRole === 'Distribution Center Head' && (personalData.jobRole === 'Distribution Officer')"
                            class="text-red-500 text-sm mt-1">
                            <div>Distribution Centre Manager is required</div>
                        </div>
                    </div>

                    <div *ngIf="personalData.jobRole === 'Distribution Officer'"></div>

                    <div
                        *ngIf="logingRole === 'Collection Center Head' && (personalData.jobRole === 'Collection Officer' || personalData.jobRole === 'Customer Officer')">
                    </div>

                    <div>
                        <label for="languages" class="block text-sm font-medium text-[#534E4E] dark:text-textDark">
                            Staff employee type *
                        </label>

                        <div class="flex items-center space-x-4 mt-3">
                            <div class="flex items-center space-x-2">
                                <input class="w-5 h-5" type="radio" id="sinhala" name="employeeType" value="Permanent"
                                    [(ngModel)]="personalData.employeeType" #employeeTypeInput="ngModel">
                                <label for="sinhala"
                                    class="block text-sm font-medium text-[#534E4E] dark:text-textDark">Permanent</label>
                            </div>
                            <div class="flex items-center space-x-2">
                                <input class="w-5 h-5" type="radio" id="employeeTypetemp" name="employeeType"
                                    value="Temporary" [(ngModel)]="personalData.employeeType" #employeeTypeInput="ngModel">
                                <label for="employeeTypetemp"
                                    class="block text-sm font-medium text-[#534E4E] dark:text-textDark">Temporary</label>
                            </div>
                        </div>


                        <div *ngIf="employeeTypeInput.touched && !personalData.employeeType"
                            class="text-red-500 text-sm mt-1">
                            <div>Employee Type is required</div>
                        </div>

                    </div>




                    <div>
                        <label for="languages" class="block text-sm font-medium text-[#534E4E] dark:text-textDark">
                            Preferred Languages *
                        </label>
                        <div class="flex items-center space-x-4 mt-3">
                            <div class="flex items-center space-x-2">
                                <input class="w-5 h-5 dark:bg-[gray]" type="checkbox" id="sinhala" name="languages"
                                    value="Sinhala" (change)="onCheckboxChange('Sinhala', $event)"
                                    [checked]="personalData.languages.includes('Sinhala')" />
                                <label for="sinhala" class="text-[#534E4E] dark:text-textDark">Sinhala</label>
                            </div>
                            <div class="flex items-center space-x-2">
                                <input class="w-5 h-5 dark:bg-[gray]" type="checkbox" id="english" name="languages"
                                    value="English" (change)="onCheckboxChange('English', $event)"
                                    [checked]="personalData.languages.includes('English')" />
                                <label for="english" class="text-[#292929] dark:text-textDark">English</label>
                            </div>
                            <div class="flex items-center space-x-2">
                                <input class="w-5 h-5 dark:bg-[gray]" type="checkbox" id="tamil" name="languages"
                                    value="Tamil" (change)="onCheckboxChange('Tamil', $event)"
                                    [checked]="personalData.languages.includes('Tamil')" />
                                <label for="tamil" class="text-[#292929] dark:text-textDark">Tamil</label>
                            </div>
                        </div>
                        <!-- Error Message -->
                        <p *ngIf="languagesRequired" class="text-red-600 text-sm mt-2">
                            Please select at least one preferred language.
                        </p>
                    </div>



                    <div>
                        <label for="firstNameEnglish"
                            class="block text-sm font-medium text-[#534E4E] dark:text-textDark">First
                            Name (in English) *</label>
                        <input id="firstNameEnglish" [(ngModel)]="personalData.firstNameEnglish" name="firstNameEnglish"
                            class="form-control mt-1 block w-full p-2 border border-gray-300 hover:bg-gray-200 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                            #firstNameEnglishInput="ngModel" required 
                            (keydown)="blockSpecialChars($event)" 
                            (input)="capitalizeFirstLetter('firstNameEnglish')"/>
                        <div *ngIf="firstNameEnglishInput.touched && !personalData.firstNameEnglish"
                            class="text-red-500 text-sm mt-1">
                            <div>First Name (in English) is required</div>
                        </div>
                    </div>

                    <div>
                        <label for="lastNameEnglish"
                            class="block text-sm font-medium text-[#534E4E] dark:text-textDark">Last
                            Name (in English) *</label>
                        <input id="lastNameEnglish" name="lastNameEnglish" [(ngModel)]="personalData.lastNameEnglish"
                            class="mt-1 block w-full p-2 border border-gray-300 hover:bg-gray-200 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                            #lastNameEnglishInput="ngModel" required 
                            (keydown)="blockSpecialChars($event)" 
                            (input)="capitalizeFirstLetter('lastNameEnglish')"/>
                        <div *ngIf="lastNameEnglishInput.touched && !personalData.lastNameEnglish"
                            class="text-red-500 text-sm mt-1">
                            <div>Last Name (in English) is required</div>
                        </div>
                    </div>

                    <div>
                        <label for="firstNameSinhala"
                            class="block text-sm font-medium text-[#534E4E] dark:text-textDark">First
                            Name (in Sinhala) *</label>
                        <input id="firstNameSinhala" name="firstNameSinhala" [(ngModel)]="personalData.firstNameSinhala"
                            class="mt-1 block w-full p-2 border border-gray-300 hover:bg-gray-200 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                            #firstNameSinhalaInput="ngModel" required 
                            (keydown)="blockSpecialChars($event)" 
                            (input)="capitalizeFirstLetter('firstNameSinhala')"/>
                        <div *ngIf="firstNameSinhalaInput.touched && !personalData.firstNameSinhala"
                            class="text-red-500 text-sm mt-1">
                            <div>First Name (in Sinhala) is required</div>
                        </div>
                    </div>

                    <div>
                        <label for="lastNameSinhala"
                            class="block text-sm font-medium text-[#534E4E] dark:text-textDark">Last
                            Name (in Sinhala) *</label>
                        <input id="lastNameSinhala" name="lastNameSinhala" [(ngModel)]="personalData.lastNameSinhala"
                            class="mt-1 block w-full p-2 border border-gray-300 hover:bg-gray-200 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                            #lastNameSinhalaInput="ngModel" required 
                            (keydown)="blockSpecialChars($event)" 
                            (input)="capitalizeFirstLetter('lastNameSinhala')"/>
                        <div *ngIf="lastNameSinhalaInput.touched && !personalData.lastNameSinhala"
                            class="text-red-500 text-sm mt-1">
                            <div>Last Name (in Sinhala) is required</div>
                        </div>
                    </div>

                    <div>
                        <label for="firstNameTamil"
                            class="block text-sm font-medium text-[#534E4E] dark:text-textDark">First
                            Name (in Tamil) *</label>
                        <input id="firstNameTamil" name="firstNameTamil" [(ngModel)]="personalData.firstNameTamil"
                            class="mt-1 block w-full p-2 border border-gray-300 hover:bg-gray-200 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                            #firstNameTamilInput="ngModel" required 
                            (keydown)="blockSpecialChars($event)" 
                            (input)="capitalizeFirstLetter('firstNameTamil')"/>
                        <div *ngIf="firstNameTamilInput.touched && !personalData.firstNameTamil"
                            class="text-red-500 text-sm mt-1">
                            <div>First Name (in Tamil) is required</div>
                        </div>
                    </div>

                    <div>
                        <label for="lastNameTamil"
                            class="block text-sm font-medium text-[#534E4E] dark:text-textDark">Last
                            Name (in Tamil) *</label>
                        <input id="lastNameTamil" name="lastNameTamil" [(ngModel)]="personalData.lastNameTamil"
                            class="mt-1 block w-full p-2 border border-gray-300 hover:bg-gray-200 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                            #lastNameTamilInput="ngModel" required 
                            (keydown)="blockSpecialChars($event)" 
                            (input)="capitalizeFirstLetter('lastNameTamil')"/>
                        <div *ngIf="lastNameTamilInput.touched && !personalData.lastNameTamil"
                            class="text-red-500 text-sm mt-1">
                            <div>Last Name (in Tamil) is required</div>
                        </div>
                    </div>

                    <div>
                        <label for="phoneNumber01" class="block text-sm font-medium text-[#534E4E] dark:text-textDark">
                            Mobile Number - 1 *
                        </label>
                        <div class="mt-1 flex">
                            <select id="phoneNumber01Code" name="phoneNumber01Code"
                                [(ngModel)]="personalData.phoneNumber01Code"
                                class="block p-2 border border-gray-300 hover:bg-gray-200 rounded-l-md bg-gray-50 mr-5 text-[#534E4E] dark:text-textDark dark:bg-[#1D1D1F]">
                                <option value="+94">+94 (LK)</option>
                                <option value="+1">+1 (US)</option>
                                <option value="+44">+44 (UK)</option>
                                <option value="+91">+91 (India)</option>
                            </select>
                            <input id="phoneNumber01" name="phoneNumber01" type="tel"
                                [(ngModel)]="personalData.phoneNumber01" 
                                class="block w-full p-2 border border-gray-300 hover:bg-gray-200 rounded-r-md text-textLight dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                                placeholder="Enter your mobile number" #phoneNumber01Input="ngModel" required (ngModelChange)="validateSriLankanPhone($event, 'phone01')"
                                pattern="^[0-9]{9}$" minlength="9" maxlength="9" (keypress)="($event.charCode >= 48 && $event.charCode <= 57) ? true : $event.preventDefault()" />
                        </div>
                        <div *ngIf="phoneNumber01Input.touched && !personalData.phoneNumber01"
                            class="text-red-500 text-sm mt-1">
                            <div> Mobile Number - 1 is required</div>
                        </div>
                        <div *ngIf="personalData.phoneNumber01 && phoneNumber01Input.invalid && !isPhoneInvalidMap['phone01']"
                            class="text-red-500 text-sm mt-1">
                            Mobile Number must be exactly 9 digits.
                        </div>

                        <div *ngIf="isPhoneInvalidMap['phone01'] && personalData.phoneNumber01" class="text-red-500 text-sm mt-1">
                            Please enter a valid mobile number (format: +947XXXXXXXX)
                          </div>
                    </div>

                    <div>
                        <label for="phoNumTwo" class="block text-sm font-medium text-[#534E4E] dark:text-textDark">
                            Mobile Number - 2
                        </label>
                        <div class="mt-1 flex">
                            <select id="phoneNumber02Code" name="phoneNumber02Code"
                                [(ngModel)]="personalData.phoneNumber02Code"
                                class="block p-2 border border-gray-300 hover:bg-gray-200 rounded-l-md bg-gray-50 mr-5 text-[#534E4E] dark:text-textDark dark:bg-[#1D1D1F]">
                                <option value="+94">+94 (LK)</option>
                                <option value="+1">+1 (US)</option>
                                <option value="+44">+44 (UK)</option>
                                <option value="+91">+91 (India)</option>
                            </select>
                            <input id="phoneNumber02" name="phoneNumber02" type="tel" #phoneNumber02Input="ngModel"
                                [(ngModel)]="personalData.phoneNumber02"
                                class="block w-full p-2 border border-gray-300 hover:bg-gray-200 rounded-r-md text-textLight dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                                placeholder="Enter your mobile number" pattern="^[0-9]{9}$" minlength="9"
                                maxlength="9" (ngModelChange)="validateSriLankanPhone($event, 'phone02')" 
                                (keypress)="($event.charCode >= 48 && $event.charCode <= 57) ? true : $event.preventDefault()"/>

                        </div>
                        <div *ngIf="personalData.phoneNumber02 && phoneNumber02Input.invalid && !isPhoneInvalidMap['phone02']"
                            class="text-red-500 text-sm mt-1">
                            Mobile Number must be exactly 9 digits.
                        </div>

                        <div *ngIf="personalData.phoneNumber02 && personalData.phoneNumber02 === personalData.phoneNumber01 && !isPhoneInvalidMap['phone02'] && !phoneNumber02Input.invalid" class="text-red-500 text-sm mt-1">
                            Mobile Number - 2 should be different from Phone Number - 1.
                          </div>

                          <div *ngIf="isPhoneInvalidMap['phone02'] && personalData.phoneNumber02" class="text-red-500 text-sm mt-1">
                            Please enter a valid mobile number (format: +947XXXXXXXX)
                          </div>
                    </div>

                    <div>
                        <label for="nic" class="block text-sm font-medium text-[#534E4E] dark:text-textDark">NIC
                            Number *</label>
                        <input id="nic" name="nic" [(ngModel)]="personalData.nic" #nicInput="ngModel" required
                            pattern="^(\d{9}[V]|\d{12})$"
                            (input)="onTrimInput($event, personalData, 'nic')"
                            class="mt-1 block w-full p-2 border border-gray-300 hover:bg-gray-200 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]" />
                        <div *ngIf="nicInput.touched && !personalData.nic" class="text-red-500 text-sm mt-1">
                            <div> NIC is required</div>
                        </div>

                        <div *ngIf="nicInput.touched && nicInput.errors?.['pattern']" class="text-red-500 text-sm mt-1">
                            <div>"Please enter a valid NIC number (12 digits or 10 digits followed by 'V').</div>
                        </div>
                    </div>

                    <div>
                        <label for="email"
                            class="block text-sm font-medium text-[#534E4E] dark:text-textDark">Email *</label>
                        <input type="email" id="email" name="email" [(ngModel)]="personalData.email"
                            #emailInput="ngModel" required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                            (input)="onTrimInput($event, personalData, 'email')"
                            class="mt-1 block w-full p-2 border border-gray-300 hover:bg-gray-200 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]" />

                        <div *ngIf="emailInput.touched && !personalData.email" class="text-red-500 text-sm mt-1">
                            Email is required
                        </div>

                        <div *ngIf="emailInput.touched && emailInput.errors?.['pattern']"
                            class="text-red-500 text-sm mt-1">
                            <!-- <p>Invalid email format (e.g., example&#64;mail.com)</p> -->
                            <p>Please enter a valid email in the format: example&#64;domain.com</p>
                        </div>
                    </div>


                </div>

                <div class="flex justify-end m-10">
                    <button type="button"
                        class="px-6 py-2 bg-[#F6F7F9] border-gray-400 border-[2px] text-[#6B7D8C] rounded-lg mr-2"
                        (click)="onCancel()">Cancel</button>
                        <button (click)="
    !PageOneForm.invalid && !languagesRequired &&
    !isPhoneInvalidMap['phone01'] &&
    (
      !personalData.phoneNumber02 ||
      (
        !isPhoneInvalidMap['phone02'] &&
        personalData.phoneNumber02 !== personalData.phoneNumber01
      )
    )
    ? nextForm('pageTwo')
    : nextForm('pageOne')
  " type="submit" class="px-6 py-1 bg-[#415CFF] text-white rounded-lg">
                        Next
                    </button>
                      
                </div>


            </div>
        </div>
    </form>

    <form #PageTwoForm="ngForm" (ngSubmit)="onSubmitFormPage2(PageTwoForm)">

        <div *ngIf="selectedPage === 'pageTwo'">

            <h2 class="text-xl mb-6 text-[#292929] dark:text-textDark font-semibold">Residential Details</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-4 mb-4">
                <div>
                    <label for="house" class="block text-sm font-medium text-[#534E4E] dark:text-textDark">House /
                        Plot Number *</label>
                    <input id="houseNumber" name="houseNumber" [(ngModel)]="personalData.houseNumber"
                        class="mt-1 block w-full p-2 border border-[#D9D9D9] hover:bg-gray-200 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                        #houseNumberInput="ngModel" required 
                        (input)="capitalizeFirstLetter('houseNumber')"/>
                    <div *ngIf="houseNumberInput.touched && !personalData.houseNumber"
                        class="text-red-500 text-sm mt-1">
                        <div>House / Plot Number is required</div>
                    </div>
                </div>

                <div>
                    <label for="street" class="block text-sm font-medium text-[#534E4E] dark:text-textDark">Street
                        Name *</label>
                    <input id="streetName" name="streetName" [(ngModel)]="personalData.streetName"
                        class="mt-1 block w-full p-2 border border-[#D9D9D9] hover:bg-gray-200 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                        #streetNameInput="ngModel" required 
                        (input)="capitalizeFirstLetter('streetName')"/>
                    <div *ngIf="streetNameInput.touched && !personalData.streetName" class="text-red-500 text-sm mt-1">
                        <div>Street Name is required</div>
                    </div>
                </div>

                <div>
                    <label for="city" class="block text-sm font-medium text-[#534E4E] dark:text-textDark">City *</label>
                    <input id="city" name="city" [(ngModel)]="personalData.city"
                        class="mt-1 block w-full p-2 border border-[#D9D9D9] hover:bg-gray-200 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                        #cityInput="ngModel" required 
                        (input)="capitalizeFirstLetter('city')"/>
                    <div *ngIf="cityInput.touched && !personalData.city" class="text-red-500 text-sm mt-1">
                        <div>City is required</div>
                    </div>
                    
                </div>

                <div>
                    <label for="country"
                        class="block text-sm font-medium text-[#534E4E] dark:text-textDark">Country *</label>
                    <input id="country" name="country" [(ngModel)]="personalData.country" readonly
                        class="mt-1 block w-full p-2 border border-[#D9D9D9] hover:bg-gray-200 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]" />
                </div>

                <div>
                    <label for="province" class="block text-sm font-medium text-[#534E4E] dark:text-textDark">
                        Province *
                    </label>
                    <input id="province" name="province" [(ngModel)]="personalData.province" #provinceInput="ngModel"
                        class="mt-1 block w-full p-2 border border-[#D9D9D9] hover:bg-gray-200 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                        readonly />

                        <div *ngIf="provinceInput.touched && !personalData.province" class="text-red-500 text-sm mt-1">
                            <div>Province is required</div>
                        </div>
                </div>

                <div>
                    <label for="district" class="block text-sm font-medium text-[#534E4E] dark:text-textDark">
                        District *
                    </label>
                    <select id="district" name="district" [(ngModel)]="personalData.district" #districtInput="ngModel"
                        required (change)="updateProvince($event)"
                        class="mt-1 block w-full p-2 border border-[#D9D9D9] hover:bg-gray-200 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]">
                        <option value="" disabled selected>Select a district</option>
                        <option *ngFor="let district of districts" [value]="district.name">
                            {{ district.name }}
                        </option>
                    </select>
                    <div *ngIf="districtInput.touched && !personalData.district" class="text-red-500 text-sm mt-1">
                        <div>District is required</div>
                    </div>
                </div>

                <!-- <div>
                    <label for="district" class="block text-sm font-medium text-[#534E4E] dark:text-textDark">
                      District *
                    </label>
                  
                    <p-dropdown 
                        id="district"
                        name="district"
                        filter="true"
                        filterBy="name"
                        [options]="districts" 
                        optionLabel="name"
                        optionValue="name"
                        [(ngModel)]="personalData.district"
                        #districtInput="ngModel"
                        required
                        
                        (onChange)="updateProvince($event)"
                        placeholder="Select a district"
                        class="mt-1 block w-full"
                        styleClass="w-full mt-1" panelStyleClass="custom-dropdown-panel" class="mt-1 block w-full p-dropdown-custom">
                    </p-dropdown>
                  
                    <div *ngIf="districtInput.touched && !personalData.district" 
                         class="text-red-500 text-sm mt-1">
                      <div>District is required</div>
                    </div>
                  </div> -->

                <!-- <div class="pb-6">
                    <label for="district" class="block text-sm font-medium text-gray-700 dark:text-textDark">
                      District*
                    </label>
                    
                  <p-dropdown
                    [options]="districts"
                    [(ngModel)]="personalData.district"
                    optionLabel="name"
                    optionValue="name"
                    filter="true"
                    filterBy="name"
                    placeholder="Select a district"
                    (onChange)="updateProvince($event)"
                    class="mt-1 block w-full"
                    [showClear]="true"
                    [autoDisplayFirst]="false"
                    #districtInput="ngModel"
                    required
                    styleClass="w-full mt-1" panelStyleClass="custom-dropdown-panel" class="mt-1 block w-full p-dropdown-custom"
                  ></p-dropdown>
                  
                    
                    <div *ngIf="districtInput.touched && !personalData.district" class="text-red-500 text-sm mt-1">
                      District is required
                    </div>
                  </div> -->

                
            </div>

            <div class="mt-24">
                <h2 class="text-xl mb-6 text-[#292929] dark:text-textDark font-semibold">Add Bank Details</h2>
                <div class="pb-6 pl-8">
                    <label for="accHolderName"
                        class="block text-sm font-medium text-[#534E4E] dark:text-textDark">Account
                        Holder’s Name *</label>
                        <input
                        id="accHolderName"
                        name="accHolderName"
                        [(ngModel)]="personalData.accHolderName"
                        class="mt-1 block w-full p-2 border border-[#D9D9D9] hover:bg-gray-200 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                        #accHolderNameInput="ngModel"
                        required
                        maxlength="50"
                        pattern="^[a-zA-Z0-9\s.']*$"
                        (keydown)="blockSpecialChars($event)" 
                        (input)="onTrimInput($event, personalData, 'accHolderName')"
                      />
                      
                    <div *ngIf="accHolderNameInput.touched && !personalData.accHolderName"
                        class="text-red-500 text-sm mt-1">
                        <div>Account Holder's Name is required</div>
                    </div>
                    <div
  *ngIf="accHolderNameInput.touched && personalData.accHolderName && accHolderNameInput.invalid"
  class="text-red-500 text-sm mt-1"
>
  Please do not enter any special characters(eg., !, $, etc).
</div>
                </div>

                <div class="pb-6 pl-8">
                    <label for="accNumber" class="block text-sm font-medium text-[#534E4E] dark:text-textDark">Account
                        Number *</label>
                    <input type="number" id="accNumber" name="accNumber" [(ngModel)]="personalData.accNumber"
                        class="mt-1 block w-full p-2 border border-[#D9D9D9] hover:bg-gray-200 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                        #accNumberInput="ngModel" required pattern="^[a-zA-Z0-9]+$"
                        (input)="onTrimInput($event, personalData, 'accNumber')"/>
                    <div *ngIf="accNumberInput.touched && !personalData.accNumber" class="text-red-500 text-sm mt-1">
                        <div>Account Number is required</div>
                    </div>
                    <div
  *ngIf="accNumberInput.touched && personalData.accNumber && accNumberInput.errors?.['pattern']"
  class="text-red-500 text-sm mt-1"
>
  <div>Account Number cannot contain special characters</div>
</div>
                </div>

                <div class="pb-6 pl-8">
                    <label for="accNumber" class="block text-sm font-medium text-[#534E4E] dark:text-textDark">Confirm
                        Account Number *</label>
                    <input type="number" id="confirmAccNumber" name="confirmAccNumber" [(ngModel)]="personalData.conformAccNumber"
                        class="mt-1 block w-full p-2 border border-[#D9D9D9] hover:bg-gray-200 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]"
                        #conformAccNumberInput="ngModel" required pattern="^[a-zA-Z0-9]+$"
                        (input)="onTrimInput($event, personalData, 'conformAccNumber')"/>
                    <div *ngIf="conformAccNumberInput.touched && !personalData.conformAccNumber"
                        class="text-red-500 text-sm mt-1">
                        <div>Confirm Account Number is required</div>
                    </div>
                    <div *ngIf="personalData.conformAccNumber && (personalData.accNumber !== personalData.conformAccNumber) && !conformAccNumberInput.errors?.['pattern']"
                        class="text-red-500 text-sm mt-1">
                        <div>Confirm Account Number should be the same as Account Number.</div>
                    </div>
                    <div
  *ngIf="conformAccNumberInput.touched && personalData.accNumber && conformAccNumberInput.errors?.['pattern']"
  class="text-red-500 text-sm mt-1"
>
  <div>Account Number cannot contain special characters</div>
</div>
                </div>

                <div class="pb-6 pl-8">
                    <label for="bankDropdown" class="block text-sm font-medium text-[#534E4E] dark:text-textDark">
                        Bank Name *
                    </label>
                    <select id="bankDropdown" name="bankDropdown" [(ngModel)]="selectedBankId" #selectedBank="ngModel" (change)="onBankChange()"
                        class="mt-1 block w-full p-2 border border-[#D9D9D9] hover:bg-gray-200 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]">
                        <option [ngValue]="null" disabled></option>
                        <option *ngFor="let bank of banks" [ngValue]="bank.ID">
                            {{ bank.name }}
                        </option>
                    </select>

                    <div *ngIf="!selectedBankId && selectedBank.touched"
                        class="text-red-500 text-sm mt-1">
                        <div>Please select a bank</div>
                    </div>
                    <!-- <span *ngIf="isFieldInvalid('bankName')" class="text-red-600 text-sm">
                      Bank Name is required.
                    </span> -->
                </div>

                <div class="pb-6 pl-8">
                    <label for="branchDropdown" class="block text-sm font-medium text-[#534E4E] dark:text-textDark">
                        Branch Name *
                    </label>
                    <select id="branchDropdown" name="branchDropdown" [(ngModel)]="selectedBranchId" #selectedBranch="ngModel"
                        (change)="onBranchChange()" [disabled]="!selectedBankId"
                        class="mt-1 block w-full p-2 border border-[#D9D9D9] hover:bg-gray-200 rounded-md text-textLight dark:text-textDark bg-tileLight dark:bg-[#1D1D1F]">
                        <option [ngValue]="null" disabled></option>
                        <option *ngFor="let branch of branches" [ngValue]="branch.ID">
                            {{ branch.name }}
                        </option>
                    </select>
                    <div *ngIf="!selectedBranchId && selectedBranch.touched"
                        class="text-red-500 text-sm mt-1">
                        <div>Please select a branch</div>
                    </div>
                </div>
            </div>

            <div class="flex justify-end m-10">
                <button (click)="nextForm('pageOne')" type="button"
                  class="px-6 py-2 bg-[#F6F7F9] border-[#95A1AC] border-[2px] text-[#6B7D8C] rounded-lg mr-2">
                  Back
                </button>
              
                <button
                  type="submit"
                  class="px-6 py-1 bg-[#415CFF] text-[#FFFFFF] rounded-lg">
                  Sent to Approve
                </button>
              </div>
              <!--  -->
              
        </div>
    </form>

    <form #PageThreeForm="ngForm" (ngSubmit)="onSubmitFormPage3(PageThreeForm)">

        <div *ngIf="selectedPage === 'pageThree'">


            <div class="flex justify-end m-10">
                <button (click)="nextForm('pageTwo')" type="button"
                    class="px-6 py-2 bg-[#F6F7F9] border-gray-400 border-[2px] text-[#6B7D8C] rounded-lg mr-2">Back</button>
                <button type="submit" class="px-6 py-1 bg-[#415CFF] text-white rounded-lg"
                    (click)="!PageThreeForm.invalid ? onSubmit() : nextForm('pageThree')">Sent to
                    Approve</button>
                <!-- <button type="submit" class="px-4 py-2 bg-[#3980C0] text-white rounded-md" (click)="onSubmit()">Sent to
                        Approve</button> -->
            </div>
        </div>
    </form>


</div>