<app-loading-spinner *ngIf="isLoading"/>


<div *ngIf="!isLoading">
    <p class="font-semibold text[#424242] mb-8 mx-5 dark:text-[#FFFFFF] dark:bg-black">Price Update Requests</p>


    <div class="w-full px-10 py-7 bg-tileLight dark:bg-[#363636] shadow-lg rounded-lg ">
        <div class="flex flex-row items-center justify-between">
            <div class="flex flex-col justify-between">
                <p class="font-semibold text-lg mb-1 dark:text-white">Market Price on {{today}}</p>
            </div>
            <div class="flex flex-row items-center gap-8 ">
                <i class="fa-solid fa-list text-2xl dark:text-white"></i>

                <p class="text-lg dark:text-white">Filter By</p>

                <!-- <div class="relative w-46">
                    <div
                        class="border-2 rounded-xl dark:bg-[#292929] text-textLight dark:text-textDark flex flex-row justify-between items-center">
                        <select [(ngModel)]="selectGrade" (change)="filterGrade()"
                            class="block w-full appearance-none  dark:bg-[#292929] text-textLight dark:text-textDark px-3 py-2 rounded-xl focus:outline-none">
                            <option value="" selected disabled>Grade</option>
                            <option class=" dark:bg-[#292929] text-textLight dark:text-textDark hover:bg-gray-300"
                                value="A">A</option>
                            <option class=" dark:bg-[#292929] text-textLight dark:text-textDark hover:bg-gray-300"
                                value="B">B</option>
                            <option class=" dark:bg-[#292929] text-textLight dark:text-textDark hover:bg-gray-300"
                                value="C">C</option>
                        </select>
                        <button *ngIf="!selectGrade">
                            <i class="fa-solid fa-angle-down text-lg mr-3"></i>
                        </button>
                        <button *ngIf="selectGrade" (click)="cancelGrade()">
                            <i class="fa-solid fa-xmark text-lg mr-3"></i>
                        </button>

                    </div>
                </div> -->





                <div class="relative w-52">
                    <div class="border-2 rounded-xl dark:bg-[#292929] text-textLight dark:text-textDark flex flex-row justify-between items-center">
                      <select [(ngModel)]="selectGrade" (change)="filterGrade()"
                        class="block w-full appearance-none dark:bg-[#292929] text-textLight dark:text-textDark px-3 py-2 pr-8 rounded-xl focus:outline-none cursor-pointer">
                        <option value="" selected disabled>Grade</option>
                            <option class=" dark:bg-[#292929] text-textLight dark:text-textDark hover:bg-gray-300"
                                value="A">A</option>
                            <option class=" dark:bg-[#292929] text-textLight dark:text-textDark hover:bg-gray-300"
                                value="B">B</option>
                            <option class=" dark:bg-[#292929] text-textLight dark:text-textDark hover:bg-gray-300"
                                value="C">C</option>
                      </select>
                      
                      <!-- Down arrow icon -->
                      <div *ngIf="!selectGrade" class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 dark:text-gray-300">
                        <i class="fa-solid fa-angle-down text-lg mr-3"></i>
                      </div>
                  
                      <!-- Cancel icon -->
                      <div (click)="cancelGrade()" *ngIf="selectGrade" 
                           class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 dark:text-gray-300 cursor-pointer z-10">
                        <i class="fa-solid fa-xmark text-lg mr-3"></i>
                      </div>
                    </div>
                  </div>






                <!-- <div class="relative w-46">
                    <div
                        class="border-2 rounded-xl dark:bg-[#292929] text-textLight dark:text-textDark flex flex-row justify-between items-center">
                        <select [(ngModel)]="selectStatus" (change)="filterStatus()"
                            class="block w-full appearance-none  dark:bg-[#292929] text-textLight dark:text-textDark px-3 py-2 rounded-xl focus:outline-none">
                            <option value="" selected disabled>Status</option>
                            <option class="dark:bg-[#292929] text-textLight dark:text-textDark hover:bg-gray-300"
                                value="Pending">Pending</option>
                            <option class="dark:bg-[#292929] text-textLight dark:text-textDark hover:bg-gray-300"
                                value="Approved">Approved</option>
                            <option class="dark:bg-[#292929] text-textLight dark:text-textDark hover:bg-gray-300"
                                value="Rejected	">Rejected</option>

                        </select>
                        <button *ngIf="!selectStatus">
                            <i class="fa-solid fa-angle-down text-lg mr-3"></i>
                        </button>
                        <button *ngIf="selectStatus" (click)="cancelStatus()">
                            <i class="fa-solid fa-xmark text-lg mr-3"></i>
                        </button>

                    </div>
                </div> -->





                <div class="relative w-52">
                    <div class="border-2 rounded-xl dark:bg-[#292929] text-textLight dark:text-textDark flex flex-row justify-between items-center">
                      <select [(ngModel)]="selectStatus" (change)="filterStatus()"
                        class="block w-full appearance-none dark:bg-[#292929] text-textLight dark:text-textDark px-3 py-2 pr-8 rounded-xl focus:outline-none cursor-pointer">
                        <option value="" selected disabled>Status</option>
                        <option class="dark:bg-[#292929] text-textLight dark:text-textDark hover:bg-gray-300"
                            value="Pending">Pending</option>
                        <option class="dark:bg-[#292929] text-textLight dark:text-textDark hover:bg-gray-300"
                            value="Approved">Approved</option>
                        <option class="dark:bg-[#292929] text-textLight dark:text-textDark hover:bg-gray-300"
                            value="Rejected	">Rejected</option>
                      </select>
                      
                      <!-- Down arrow icon -->
                      <div *ngIf="!selectStatus" class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 dark:text-gray-300">
                        <i class="fa-solid fa-angle-down text-lg mr-3"></i>
                      </div>
                  
                      <!-- Cancel icon -->
                      <div (click)="cancelStatus()" *ngIf="selectStatus" 
                           class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 dark:text-gray-300 cursor-pointer z-10">
                        <i class="fa-solid fa-xmark text-lg mr-3"></i>
                      </div>
                    </div>
                  </div>


                <div class="flex items-center rounded-full  px-4 py-2 w-96 bg-[#F1F1F1] dark:bg-[#292929]">
                    <input type="text" placeholder="Search by Crop / Variety name.." [(ngModel)]="searchText"
                        class="bg-transparent outline-none w-full text-textLight dark:text-textDark" />
                    <button type="button" class="text-gray-500 hover:text-gray-700 focus:outline-none mr-2"
                        (click)="onSearch()">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M21 21l-6-6m2-5a7 7 0 10-14 0 7 7 0 0014 0z" />
                        </svg>
                    </button>
                    <button type="button" class="text-gray-500 hover:text-gray-700 focus:outline-none"
                        (click)="offSearch()">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>

            </div>

        </div>

        <div *ngIf="!hasData" class="flex justify-center items-center mt-8 mr-5 w-full h-[500px]">
            <p class="text-3xl text-center font-semibold dark:text-black">No Data Availabale</p>
        </div>

        <div *ngIf="hasData"
            class="overflow-x-auto mt-8 mr-5 border-gray-100 border-[2px] rounded-lg dark:border-[#202021]">
            <table class="w-full divide-y-2 overflow-hidden">
                <thead class=" text-gray-700 dark:text-gray-300 dark:bg-[#0F0F0F] dark:border-[#202021]">
                    <tr>
                        <th class="px-6 py-3 text-left font-medium">No</th>
                        <th class="px-6 py-3 text-left font-medium">Crop Name</th>
                        <th class="px-6 py-3 text-left font-medium">Variety Name</th>
                        <th class="px-6 py-3 text-left font-medium">Grade</th>
                        <th class="px-6 py-3 text-left font-medium">Requested (Rs.)</th>
                        <th class="px-6 py-3 text-center font-medium">Status</th>
                        <th class="px-6 py-3 text-left font-medium">EMP ID</th>
                        <th class="px-6 py-3 text-left font-medium">Time</th>
                    </tr>
                </thead>
                <tbody class="bg-white dark:bg-[#1D1D1F] dark:border-[#1D1D1F]">
                    <tr
                        *ngFor="let item of reqPriceArr | paginate : { itemsPerPage: itemsPerPage, currentPage: page, totalItems: totalItems }; let i = index">
                        <td class="px-6 py-4 text-gray-900 dark:text-gray-300">
                            {{ (((page - 1) * itemsPerPage) + i + 1) < 10 ? '0' + (((page - 1) * itemsPerPage) + i + 1)
                                : (((page - 1) * itemsPerPage) + i + 1) }} </td>
                        <td class="px-6 py-4 text-gray-900 dark:text-gray-300">{{item.cropNameEnglish}}</td>
                        <td class="px-6 py-4 text-gray-900 dark:text-gray-300">{{item.varietyNameEnglish}}</td>
                        <td class="px-6 py-4 text-gray-900 dark:text-gray-300">{{item.grade}}</td>
                        <td class="px-6 py-4 text-gray-900 dark:text-gray-300">{{item.requestPrice}}</td>
                        <td class="px-6 py-4 text-gray-900 dark:text-gray-300 flex justify-center items-center"
                            (click)="openPopup(item)">
                            <span *ngIf="item.status === 'Pending'"
                                class="bg-[#F8FFA6] text-[#A8A100] text-center rounded-lg px-6 py-1 ">
                                Pending
                            </span>
                            <span *ngIf="item.status === 'Approved'"
                                class="bg-[#C8E0FF] text-[#415CFF] text-center rounded-lg px-4 py-1 ">
                                Approved
                            </span>
                            <span *ngIf="item.status === 'Rejected'"
                                class="bg-[#FFB9B7] text-[#D16D6A] text-center rounded-lg px-5 py-1 ">
                                Rejected
                            </span>
                        </td>
                        <td class="px-6 py-4 text-gray-900 dark:text-gray-300">{{item.empId}} </td>
                        <td class="px-6 py-4 text-gray-900 dark:text-gray-300">{{item.createdAt | date: 'hh:mm a'}}
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
        <div class="flex items-center justify-end my-5 mr-5">
            <pagination-controls (pageChange)="onPageChange($event)" [responsive]="true" [previousLabel]="'Previous'"
                [nextLabel]="'Next'" [screenReaderPaginationLabel]="'Pagination'" [screenReaderPageLabel]="'page'"
                [screenReaderCurrentLabel]="'Youre on page'">
            </pagination-controls>
        </div>
    </div>
</div>