/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  .dropdown-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
  }